<div class="rn_ChildLineItemGroup" data-id="<%= data.childID %>">
	<div class="rn_ChildLineItemGroupChildImgContainer">
		<img class="rn_ChildLineItemGroupChildImg" src="<%= data.childImgURL %>" />
	</div>
	<div class="rn_ChildLineItemGroupChildNameContainer">
		<span class="rn_ChildLineItemGroupChildName"><%= data.childName %></span>
	</div>
	<div class="rn_ChildLineItemsContainer">
		<!-- Line items for this child will be appended here -->
	</div>
</div>