.rn_AnswerList {
  min-height: auto;
  padding-top: 30px; }
  .rn_AnswerList li:last-child {
    border-bottom: 0; }

.rn_PaginateDiv ul li span {
  color: #3b6db1; }

.rn_PaginateDiv ul li {
  display: inline-block;
  margin-right: 4px;
  padding: 0 0.2em; }

.rn_PaginateDiv ul li {
  cursor: pointer; }

.rn_PaginateDiv ul li.rn_CurrentPage {
  color: #3b6db1;
  cursor: default;
  font-weight: bold; }

.rn_PaginateDiv ul li.rn_PageHellip {
  cursor: default; }

.rn_PaginateDiv {
  float: right; }

.rn_PaginateDiv ul li.rn_NextPage span::after {
  font-family: 'FontAwesome';
  margin-left: 6px;
  content: "\f054"; }

.rn_PaginateDiv ul li.rn_PreviousPage span:before {
  font-family: 'FontAwesome';
  margin-right: 6px;
  content: "\f053"; }
