.rn_ProdCatNotificationManager {
    overflow:hidden;
}
.rn_ProdCatNotificationManager .rn_Notification {
    overflow:auto;
    /**IE6/7*/
    *overflow:none;
    padding:8px 0;
    width:80%;
}
.rn_ProdCatNotificationManager .rn_Notification_Actions {
    float:right;
    width:34%;
}
.rn_ProdCatNotificationManager .rn_Notification_Info {
    float:left;
    overflow:hidden;
    width:62%;
}
.rn_ProdCatNotificationManager .rn_Notification_Info span {
    display:block;
}