@import 'widget-includes';

.rn_ChatServerConnect {
    background: #EFEFF4;
    border: solid #BBB;
    border-width: 1px 0;
    line-height: 1.25em;
    margin: 0 0 1em;
    padding: 5px;
}

.rn_ChatResumeSessionDialog {
    width: 358px;
}
