@import 'widget-includes';
@import '../components/search';

.rn_DisplaySearchSourceFilters {
    @include span-columns(2);
    @include medium-search-width();
    @include small-search-width();

    .rn_Filter {
        overflow: hidden;
        padding: 10px 0;
        font-weight: normal;

        a {
            font-weight: normal;
            color: #fff;
        }

        .rn_Remove {
            @include icon($fa-var-times);
        }
    }

    .rn_Label {
        font-weight: bold;
        margin-bottom: 2px;
        line-height: 1.5em;

        a {
            text-decoration: none;
        }

        img {
            margin-left: 4px;
            vertical-align: middle;
        }
    }
}
