@import 'widget-includes';

.rn_EmailCredentials label {
    font-weight: bold;
}

.rn_EmailCredentials label,
.rn_EmailCredentials input {
    display: block;
}

.rn_EmailCredentials .rn_Loading {
    background: url('#{$theme-images}/indicator.gif') no-repeat left center;
    min-height: 16px;
    min-width: 16px;
}

.rn_EmailCredentials input[type="text"] {
    margin: 2px 0;
    padding: 2px;
}

.rn_EmailCredentialsSuccessDialog {
    ul {
        padding-top: .4em;
        list-style: disc inside none;
        font-size: .9em;
    }
}
