@import 'widget-includes';

.rn_IncidentThreadDisplay {
    .rn_ThreadHeader {
        background-color: #EEE;
        border: 1px solid #CCC;
        text-shadow: 0 1px 1px #FFF;
        font-size: 1.083em;
        font-weight: bold;
        padding: .25em;
        position: relative;

        .rn_ThreadTime {
            position: absolute;
            right: 1em;

            @include media($rn-small) {
                position: static;
                display: block;
            }
        }

        &.rn_Customer {
            background-color: #CCC;
        }
    }

    .rn_ThreadContent {
        background-color: #FFF;
        border: 1px solid #DDD;
        border-width: 0 1px 1px;
        color: #404040;
        font-size: 1em;
        margin-bottom: 0;
        overflow-y: hidden;
        overflow-x: auto;
        padding: 1em 10px;
    }

    @media print {
        .rn_ThreadContent {
            overflow: visible;
        }
    }
}
