@import 'widget-includes';

.rn_OkcsSmartAssistant {
    .rn_Heading {
        font-size: 1.333em;
        font-weight: bold;
        line-height: 1.4em;
    }

    .rn_Answer, .rn_Response, .rn_List {
        background: #F0F0F0 none repeat scroll 0 0;
        border: 1px solid #B0B3B8;
        color: #222;
        margin: 10px 0;
        padding: 10px;
        text-shadow: 0 1px 1px $hero-color;
        -moz-border-radius: 6px;
        -webkit-border-radius: 6px;
        border-radius: 6px;
    }

    a {
        color: #3E3E3E;
        font-weight: normal;
    }

    .rn_List > li {
        font-size: 1.3em;
        margin: 1em .8em 1em 0;
    }

    .rn_Prompt {
        font-size: 1em;
        font-weight: bold;
        line-height: 1.3em;
    }

    .rn_Summary {
        font-size: 1.3em;
        font-weight: bold;
        letter-spacing: -.01em;
        line-height: 1em;
        padding: 7px 0 0;
    }

    .rn_Solution {
        padding: 6px 0 10px;
    }

    .rn_List.rn_InlineAnswers > li {
        border-bottom: 1px solid #FFF;
        list-style: none;
        margin: 0;
        padding: 0;
        position: relative;
    }

    .rn_InlineAnswerLink {
        border-bottom: 1px solid #CCC;
        color: #000;
        padding: 21px 4px 21px 32px;
        text-decoration: none;
        text-shadow: 0 1px 0 #FFF;
    }

    .rn_ExpandAnswer, a.rn_ExpandedAnswer {
        margin-right: 1px;
        padding-left: 0;
        font-size: 1.2em;
        font-family: 'FontAwesome';
    }

    .rn_ExpandAnswer, a.rn_ExpandedAnswer {
        @include icon($fa-var-caret-right);
        padding-right: 5px;
    }

    .rn_ExpandAnswerSolution, a.rn_ExpandedAnswerSolution {
        margin-right: 1px;
        padding-left: 0;
        font-size: 1.2em;
        font-family: 'FontAwesome';
    }

    .rn_ExpandAnswerSolution, a.rn_ExpandedAnswerSolution {
        @include icon($fa-var-caret-down);
        padding-right: 5px;
    }

    .rn_ExpandedAnswer {
        color: #666;
    }

    .rn_Loading {
        background: url('#{$theme-images}/indicatorMobile.gif') no-repeat;
        height: 100%;
        position: absolute;
        right: 2px;
        width: 16px;
    }

    .rn_ExpandedAnswerContent {
        background: #FFF;
        border: 0;
        display: block;
        font-size: 1em;
        margin: 0;
        padding: 2%;
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        border-radius: 0;
    }

    .rn_AnswerSummary {
        display: block;
        margin-bottom: 12px;

        > ol {
            margin-bottom: 1em;
        }
    }

    .rn_AnswerSolution > ol,
    .rn_AnswerSummary > ul {
        margin-bottom: 1em;
    }

    .rn_AnswerSolution {
        display: block;

        > ul {
            margin-bottom: 1em;
        }

        iframe {
            width: 100%;
            min-height: 99%;
        }
    }

    .rn_AnswerInfo {
        color: #666;
        margin: 6px 0 20px;
        padding-bottom: 10px;

        section {
            display: inline-block;
            padding: 3px;
            width: 48%;
        }
    }

    .rn_AnswerInfo_Top {
        border-bottom: 1px solid #E2E2E0;
    }

    .rn_AnswerInfo .rn_InfoLabel {
        width: 40%;
        display: inline-block;
        font-weight: bold;
        word-wrap: break-word;
    }

    .rn_AnswerText {
        clear: both;
        line-height: 1.4em;
        padding: 5px 0 15px;
    }

    .ok-highlight-title {
        background-color: #FF0;
        font-weight: bold;
    }

    .ok-highlight-sentence {
        background-color: #D8DFE8;
    }

    .rn_SchemaAttribute {
        margin-bottom: 5px;
        font-weight: bold;

        input {
            margin-right: 5px;
            vertical-align: middle;
            float: left;
        }
    }

    .rn_SchemaAttributeValue {
        margin-bottom: 15px;

        ul li {
            list-style: disc;
        }

        li ul li {
            list-style: circle;
        }

        li li ul li {
            list-style: square;
        }

        ol li,
        li ol li,
        li li ol li {
            list-style: decimal;
        }
    }

    .rn_Indent {
        margin-left: 20px;
    }
}

.rn_ExternalContent {
    width: 100%;
    min-height: 99%;
}

@include media($rn-medium) {
    .rn_OkcsSmartAssistant .rn_AnswerInfo section {
        display: block;
        width: 100%;
    }

    .rn_OkcsSmartAssistant .rn_Answer .rn_NewTabButton {
        display: block;
        margin-top: none;
    }

    .rn_OkcsSmartAssistant .rn_Answer button {
        display: block;
        margin-top: .5em;
    }
}
