@import 'widget-includes';

.rn_QuestionStatus {
    @include clearfix;

    vertical-align: center;
    padding: .5em 1em;

    &.rn_Locked {
        margin-top: 10px;
        background: #CAFCFC;
    }

    &.rn_Pending {
        background: #FFA;
    }

    &.rn_Suspended {
        background: #FFCACA;
    }

    .rn_LockedContainer {
        @include icon($fa-var-lock);
        @include span-columns(1);
        font-style: normal;
        text-align: center;
    }

    .rn_StatusContainer {
        @include span-columns(11);
        text-align: center;
        font-style: italic;
        height: 1em;
        line-height: 1em;
    }
}
