@import 'widget-includes';

.rn_SearchResult {
    padding: 0;
    font-size: $h4-font-size;
    line-height: 1.3em;
    
    .rn_File_xls:before {
        top: -239px;
    }

    .rn_File_intent:before {
        top: -269px;
    }

    .rn_SearchResultTitle {
        background: $theme-color;
        background: -moz-linear-gradient(top, $theme-color, $theme-color);
        background: -webkit-gradient(linear, 0% 0%, 0% 100%, from($theme-color), to($theme-color));
        font-weight: normal;
        text-align: center;
    }

    .rn_SearchResultTitleAnswer {
        border: 1px solid lighten($dark-gray, 60);
        line-height: 36px;
        color: $hero-color;
    }

    .rn_SearchResultAnswer {
        padding: 14px !important;
        width: auto;
    }

    .rn_SearchResultContent {
        table {
            border: 1px solid lighten($dark-gray, 60);
            border-top: 0;
            border-spacing: 0;
            width: 100%;
            margin: 0;
            table-layout: fixed;
        }

        span {
            word-wrap: break-word;
        }

        a {
            text-decoration: none;
            word-wrap: break-word;
            padding: 0.2em;
        }
    }

    .rn_SearchResultExcerpt {
        margin-top: 5px;
        word-wrap: break-word;
    }

    .rn_NoSearchResultMsg {
        padding: 10px;
    }

    .rn_NoSearchResult p {
        background-color: #F2F2F2;
        border: 1px solid #A1A5A9;
        padding: 10px;
    }

    .rn_SearchResultIcon {
        height: 16px;
        width: 16px;
        overflow: hidden;
        display: inline-block;
        vertical-align: middle;
        cursor: pointer;

        &:before {
            content: url('#{$theme-images}/searchResultSprite.png');
            position: relative;
        }
    }

    .rn_SearchResultLoading {
        height: 100px !important;
        border: none !important;
    }

    tr:nth-child(2n) {
        background-color: #FAFAFA;
    }

    .rn_SnippetLevel1 {
        background-color: #D8DFE8;
        font-weight: normal;
    }

    .rn_SnippetLevel2 {
        background-color: #D8DFE8;
        font-weight: bold;
    }

    .rn_SnippetLevel3 {
        background-color: #D8DFE8;
        font-weight: bold;
    }

    .rn_File_document_plain_green:before {
        top: 0;
    }

    .rn_File_cms_xml:before {
        top: -16px;
    }

    .rn_File_doc:before {
        top: -32px;
    }

    .rn_File_html:before {
        top: -49px;
    }

    .rn_File_image:before {
        top: -66px;
    }

    .rn_File_iqxml:before {
        top: -82px;
    }

    .rn_File_ms_excel:before {
        top: -98px;
    }

    .rn_File_ms_powerpoint:before {
        top: -113px;
    }

    .rn_File_ms_word:before {
        top: -129px;
    }

    .rn_File_news:before {
        top: -145px;
    }

    .rn_File_null:before {
        top: -161px;
    }

    .rn_File_pdf:before {
        top: -177px;
    }

    .rn_File_rtf:before {
        top: -192px;
    }

    .rn_File_table:before {
        top: -209px;
        width: 18px;
        height: 15px;
    }

    .rn_File_text:before {
        top: -224px;
    }

    .rn_File_message:before {
        top: -284px;
    }

    .rn_File_messages:before {
        top: -300px;
    }

    .rn_File_trail_arrow:before {
        top: -314px;
        width: 9px;
        height: 9px;
    }

    .rn_File_wizard_marker:before {
        top: -325px;
        width: 20px;
        height: 19px;
    }

    .rn_File_wizard_marker_rtl:before {
        top: -345px;
        width: 20px;
        height: 19px;
    }

    .rn_File_xml:before {
        top: -254px;
    }
}

.rn_SearchResultContent table {
    display: block;

    tbody {
        display: block;

        tr {
            display: block;

            td {
                display: block;
            }
        }
    }
}
