@import 'widget-includes';

.rn_SelectionInput {
    clear: both;
    margin-bottom: .5em;
    overflow: visible;
    position: relative;

    .rn_Label {
        display: inline-block;
        font-weight: bold;
        margin-bottom: 2px;
    }

    fieldset {
        background: none;
        border: 0;
        padding: 0;
        margin: 0;
    }

    fieldset label {
        display: inline;
        margin: 0 4px;
        vertical-align: sub;
    }

    input[type="radio"] {
        border: 0;
        display: inline;
        margin-top: 2px;
        vertical-align: middle;
        width: auto;
    }
}
