.rn_ProgressBar .rn_ProgressStep {
    float: left;
}
.rn_ProgressBar li {
    list-style: decimal inside none;
}
.rn_ProgressBar .rn_2Elements li{
    width: 50.00%;
}
.rn_ProgressBar .rn_3Elements li{
    width: 33.33%;
}
.rn_ProgressBar .rn_4Elements li{
    width: 25%;
}
.rn_ProgressBar .rn_5Elements li{
    width: 20%;
}
.rn_ProgressBar .rn_6Elements li{
    width: 16.666%;
}
