/**
 * base.css: Base CSS for ajaxCustomFormSubmit
 */
.rn_ajaxCustomFormSubmit.rn_FormSubmit {

}

.rn_ajaxCustomFormSubmit.rn_FormSubmit input[type="submit"]{
	background-color: black;
	font-size: 13.2px;
}

#rn_ErrorLocation{
	/*border: red 1px solid;*/
    color: red;
    
}

.esg_checkoutButton {
	text-align: left;
}
