<div id="<%= baseDomID + '_Replies_' + commentID %>" data-commentid="<%= commentID %>" class="rn_Replies rn_Group">
    <a class="rn_ReplyTitle" href="javascript:void(0);" data-toggle-parent="rn_Collapsed">
        <%= labelReplies %>
    </a>
</div>
