.rn_CommunitySearchResults .rn_Pagination {
    clear:left;
    padding:10px 0;
    font-size:140%;
}
.rn_CommunitySearchResults .rn_Pagination a,
.rn_CommunitySearchResults .rn_Pagination .rn_CurrentPage {
    line-height:2em;
    margin-right:4px;
    padding:4px;
}
.rn_CommunitySearchResults .rn_PostAuthor img{
    float: left;
    height: 50px;
    width: 50px;
}