<% for (var i = startPage; i <= endPage; i++) { %>
    <rn:block id="prePageLink"/>
    <% if (i === currentPage) { %>
        <span class="rn_CurrentPage"><%= i %></span>
    <% } else { %>
        <a href="javascript:void(0)" data-page="<%= i %>" title="<%= RightNow.Text.sprintf(pageLabel, i, totalPages) %>"><%= i %></a>
    <% } %>
    <rn:block id="postPageLink"/>
<% } %>