.rn_ProductCatalogInput button.rn_DisplayButton {
    display:inline;
    background:none;
    color:#000;
    cursor:pointer;
    overflow:hidden;
    text-overflow:ellipsis;
}
/* make the text label font relative*/
.rn_ProductCatalogInput .ygtvlabel,
.rn_ProductCatalogInput .ygtvlabel:link,
.rn_ProductCatalogInput .ygtvlabel:visited,
.rn_ProductCatalogInput .ygtvlabel:hover {
    font-size:inherit;
}
.rn_ProductCatalogInput .rn_HintBox {
    z-index:1;
}
.rn_ProductCatalogInput .rn_HintBox.rn_AlwaysVisibleHint {
    z-index:0;
}
.rn_ProductCatalogInput .rn_PanelContainer .yui3-widget-hd {
    display: none;
}
