.rn_GuidedAssistant .rn_Node {
    position:relative;
    word-wrap:break-word;
}
.rn_GuidedAssistant .rn_QuestionText,
.rn_GuidedAssistant .rn_ResultHeading {
    clear:both;
    overflow:hidden;
}
.rn_QuestionText p {
    line-height:1em;
}
.rn_GuidedAssistant .rn_ChatLink {
    display:block;
    margin:2px 20px 0 80%;
}
.rn_GuidedAssistant .rn_AgentText {
    background-color:#F4F4F4;
    border:1px solid #DDD;
    font-family:sans-serif;
    margin-top:10px;
    padding:4px 6px;
}
.rn_GuidedAssistant .rn_AgentText em {
    font-style:normal;
    font-weight:bold;
    display:block;
}
.rn_GuidedAssistant .rn_LinkQuestion label {
    cursor:pointer;
}
.rn_GuidedAssistant .rn_TransparentScreenReaderOnly {
    opacity:0;
    position:absolute;
    left:0;
}
.rn_GuidedAssistant .rn_ImageQuestion img {
    overflow:hidden;
}
.rn_GuidedAssistant .rn_ImageQuestion div {
    display:inline-block;
    /*IE6/7*/
    *display:inline;
    margin-bottom:16px;
}
.rn_GuidedAssistant .rn_ImageQuestion label {
    cursor:pointer;
    /*Fix for IE: images as labels*/
    display:inline-block;
    position:relative;
    zoom:1;
}
/*Fix for IE: images as labels*/
.rn_GuidedAssistant .rn_ImageQuestion .rn_ImageCaption {
    bottom:0;
    font-weight:bold;
    left:10px;
    position:absolute;
    top:10px;
    text-shadow:0 1px 1px #FFF;
    width:100%;
    background: url(adff);
}
.rn_GuidedAssistant .rn_ButtonQuestion button {
    margin: 0 6px 6px 0;
}

@media print {
    /*Display all previously answered questions*/
    .rn_GuidedAssistant .rn_Question {
        display:block;
    }
}
