<rn:block id="questionTop"/>
<div class="rn_QuestionText">
    <%= questionText %>
</div>
<rn:block id="preResponse"/>
<div id="<%= responseID %>" class="rn_Response <%= responseClass %>">
    <%= responseContent %>
</div>
<rn:block id="postResponse"/>
<rn:block id="questionBottom"/>