<rn:block id="preTextResult"/>
<div class="rn_Result rn_ResultText">
<% if (heading) { %>
    <div class="rn_ResultHeading"><%= heading %></div>
<% } %>
<%= resultText %>
</div>
<rn:block id="postTextResult"/>