.rn_SocialContentRating button.rn_UpvoteButton:before {
  font-family: 'FontAwesome';
  margin-right: 6px;
  content: "\f01b";
  padding: 0 0.1em;
  margin-right: 0;
  vertical-align: text-top; }
.rn_SocialContentRating button.rn_UpvoteButton:not([disabled]):hover, .rn_SocialContentRating button.rn_UpvoteButton:not([disabled]):focus, .rn_SocialContentRating button.rn_UpvoteButton:not([disabled]):active {
  color: #264e85; }
.rn_SocialContentRating button.rn_ResetButton {
  background: transparent;
  color: #f76e6e;
  padding-left: 0;
  padding-right: 0;
  margin-left: 10px;
  font-size: medium;
  font-weight: normal;
  vertical-align: inherit; }
  .rn_SocialContentRating button.rn_ResetButton:before {
    font-family: 'FontAwesome';
    margin-right: 6px;
    content: "\f00d"; }
  .rn_SocialContentRating button.rn_ResetButton:hover, .rn_SocialContentRating button.rn_ResetButton:focus, .rn_SocialContentRating button.rn_ResetButton:active {
    border: 0;
    box-shadow: none;
    background: transparent;
    color: #f53d3d; }
.rn_SocialContentRating button.rn_StarButton.rn_Vote, .rn_SocialContentRating button.rn_StarButton.rn_Voted, .rn_SocialContentRating button.rn_UpvoteButton, .rn_SocialContentRating button.rn_ThumbsDownButton.rn_Vote, .rn_SocialContentRating button.rn_ThumbsDownButton.rn_Voted, .rn_SocialContentRating button.rn_ThumbsUpButton.rn_Vote, .rn_SocialContentRating button.rn_ThumbsUpButton.rn_Voted {
  margin-right: -0.3em;
  color: #3770c0;
  background: none;
  border: 0;
  box-shadow: none;
  font-size: large;
  text-shadow: none;
  padding: 0;
  font-weight: normal; }
  .rn_SocialContentRating button.rn_StarButton.rn_Vote:hover, .rn_SocialContentRating button.rn_StarButton.rn_Vote:focus, .rn_SocialContentRating button.rn_StarButton.rn_Vote:active, .rn_SocialContentRating button.rn_StarButton.rn_Vote:disabled, .rn_SocialContentRating button.rn_StarButton.rn_Voted:hover, .rn_SocialContentRating button.rn_StarButton.rn_Voted:focus, .rn_SocialContentRating button.rn_StarButton.rn_Voted:active, .rn_SocialContentRating button.rn_StarButton.rn_Voted:disabled, .rn_SocialContentRating button.rn_UpvoteButton:hover, .rn_SocialContentRating button.rn_UpvoteButton:focus, .rn_SocialContentRating button.rn_UpvoteButton:active, .rn_SocialContentRating button.rn_UpvoteButton:disabled, .rn_SocialContentRating button.rn_ThumbsDownButton.rn_Vote:hover, .rn_SocialContentRating button.rn_ThumbsDownButton.rn_Vote:focus, .rn_SocialContentRating button.rn_ThumbsDownButton.rn_Vote:active, .rn_SocialContentRating button.rn_ThumbsDownButton.rn_Vote:disabled, .rn_SocialContentRating button.rn_ThumbsDownButton.rn_Voted:hover, .rn_SocialContentRating button.rn_ThumbsDownButton.rn_Voted:focus, .rn_SocialContentRating button.rn_ThumbsDownButton.rn_Voted:active, .rn_SocialContentRating button.rn_ThumbsDownButton.rn_Voted:disabled, .rn_SocialContentRating button.rn_ThumbsUpButton.rn_Vote:hover, .rn_SocialContentRating button.rn_ThumbsUpButton.rn_Vote:focus, .rn_SocialContentRating button.rn_ThumbsUpButton.rn_Vote:active, .rn_SocialContentRating button.rn_ThumbsUpButton.rn_Vote:disabled, .rn_SocialContentRating button.rn_ThumbsUpButton.rn_Voted:hover, .rn_SocialContentRating button.rn_ThumbsUpButton.rn_Voted:focus, .rn_SocialContentRating button.rn_ThumbsUpButton.rn_Voted:active, .rn_SocialContentRating button.rn_ThumbsUpButton.rn_Voted:disabled {
    border: 0;
    box-shadow: none;
    background: none; }
  .rn_SocialContentRating button.rn_StarButton.rn_Vote:disabled, .rn_SocialContentRating button.rn_StarButton.rn_Voted:disabled, .rn_SocialContentRating button.rn_UpvoteButton:disabled, .rn_SocialContentRating button.rn_ThumbsDownButton.rn_Vote:disabled, .rn_SocialContentRating button.rn_ThumbsDownButton.rn_Voted:disabled, .rn_SocialContentRating button.rn_ThumbsUpButton.rn_Vote:disabled, .rn_SocialContentRating button.rn_ThumbsUpButton.rn_Voted:disabled {
    color: #3770c0; }
.rn_SocialContentRating button.rn_StarButton.rn_Vote:before {
  font-family: 'FontAwesome';
  margin-right: 6px;
  content: "\f006";
  margin-right: 0;
  vertical-align: text-top; }
.rn_SocialContentRating button.rn_StarButton.rn_Vote:not([disabled]):hover:before, .rn_SocialContentRating button.rn_StarButton.rn_Vote:not([disabled]):hover ~ button.rn_StarButton.rn_Vote:before, .rn_SocialContentRating button.rn_StarButton.rn_Vote:not([disabled]):focus:before, .rn_SocialContentRating button.rn_StarButton.rn_Vote:not([disabled]):focus ~ button.rn_StarButton.rn_Vote:before, .rn_SocialContentRating button.rn_StarButton.rn_Vote:not([disabled]):active:before, .rn_SocialContentRating button.rn_StarButton.rn_Vote:not([disabled]):active ~ button.rn_StarButton.rn_Vote:before {
  font-family: 'FontAwesome';
  margin-right: 6px;
  content: "\f005";
  margin-right: 0;
  vertical-align: text-top; }
.rn_SocialContentRating button.rn_StarButton.rn_Voted:before {
  font-family: 'FontAwesome';
  margin-right: 6px;
  content: "\f005";
  margin-right: 0;
  vertical-align: text-top; }
.rn_SocialContentRating div.rn_StarVoting {
  direction: rtl; }
.rn_SocialContentRating button.rn_ThumbsDownButton.rn_Vote:before {
  font-family: 'FontAwesome';
  margin-right: 6px;
  content: "\f088";
  padding: 0 0.1em;
  margin-right: 0;
  vertical-align: text-top; }
.rn_SocialContentRating button.rn_ThumbsDownButton.rn_Vote:not([disabled]):hover:before, .rn_SocialContentRating button.rn_ThumbsDownButton.rn_Vote:not([disabled]):focus:before, .rn_SocialContentRating button.rn_ThumbsDownButton.rn_Vote:not([disabled]):active:before {
  font-family: 'FontAwesome';
  margin-right: 6px;
  content: "\f165";
  margin-right: 0;
  vertical-align: text-top; }
.rn_SocialContentRating button.rn_ThumbsDownButton.rn_Voted:before {
  font-family: 'FontAwesome';
  margin-right: 6px;
  content: "\f165";
  margin-right: 0;
  vertical-align: text-top; }
.rn_SocialContentRating button.rn_ThumbsUpButton.rn_Vote:before {
  font-family: 'FontAwesome';
  margin-right: 6px;
  content: "\f087";
  padding: 0 0.1em;
  margin-right: 0;
  vertical-align: text-top; }
.rn_SocialContentRating button.rn_ThumbsUpButton.rn_Vote:not([disabled]):hover:before, .rn_SocialContentRating button.rn_ThumbsUpButton.rn_Vote:not([disabled]):focus:before, .rn_SocialContentRating button.rn_ThumbsUpButton.rn_Vote:not([disabled]):active:before {
  font-family: 'FontAwesome';
  margin-right: 6px;
  content: "\f164";
  margin-right: 0;
  vertical-align: text-top; }
.rn_SocialContentRating button.rn_ThumbsUpButton.rn_Voted:before {
  font-family: 'FontAwesome';
  margin-right: 6px;
  content: "\f164";
  margin-right: 0;
  vertical-align: text-top; }
.rn_SocialContentRating div.rn_RatingButtons {
  display: inherit; }
.rn_SocialContentRating .rn_Separator::before {
  content: '';
  border-left: 2px solid;
  margin: 0.2em; }
.rn_SocialContentRating .rn_RatingValue {
  display: inline-block; }
.rn_SocialContentRating .rn_UpDownRateCount {
  display: initial; }
  .rn_SocialContentRating .rn_UpDownRateCount .rn_ThumbsUpButton.rn_RateIcon, .rn_SocialContentRating .rn_UpDownRateCount .rn_ThumbsDownButton.rn_RateIcon {
    color: #505050;
    font-size: large;
    display: inline; }
  .rn_SocialContentRating .rn_UpDownRateCount .rn_ThumbsUpButton.rn_RateIcon:before {
    font-family: 'FontAwesome';
    margin-right: 6px;
    content: "\f087";
    margin-right: 0; }
  .rn_SocialContentRating .rn_UpDownRateCount .rn_ThumbsDownButton.rn_RateIcon:before {
    font-family: 'FontAwesome';
    margin-right: 6px;
    content: "\f088";
    margin-right: 0;
    margin-left: 6px; }
.rn_SocialContentRating .rn_ButtonRateCount {
  display: initial; }
  .rn_SocialContentRating .rn_ButtonRateCount .rn_UpvoteButton.rn_RateIcon {
    color: #505050;
    display: inline;
    vertical-align: sub; }
    .rn_SocialContentRating .rn_ButtonRateCount .rn_UpvoteButton.rn_RateIcon:before {
      font-family: 'FontAwesome';
      margin-right: 6px;
      content: "\f01b";
      margin-right: 0; }
.rn_SocialContentRating .rn_StarRateCount {
  display: initial; }
  .rn_SocialContentRating .rn_StarRateCount span.rn_StarButton.rn_VoteRating, .rn_SocialContentRating .rn_StarRateCount span.rn_StarButton.rn_VotedRating, .rn_SocialContentRating .rn_StarRateCount span.rn_StarButton.rn_VotedHalfRating {
    display: inline;
    color: #505050;
    vertical-align: text-bottom; }
  .rn_SocialContentRating .rn_StarRateCount span.rn_StarButton.rn_VoteRating:before {
    font-family: 'FontAwesome';
    margin-right: 6px;
    content: "\f006";
    margin-right: 0;
    vertical-align: text-top; }
  .rn_SocialContentRating .rn_StarRateCount span.rn_StarButton.rn_VotedRating:before {
    font-family: 'FontAwesome';
    margin-right: 6px;
    content: "\f005";
    margin-right: 0;
    vertical-align: text-top; }
  .rn_SocialContentRating .rn_StarRateCount span.rn_StarButton.rn_VotedHalfRating:before {
    font-family: 'FontAwesome';
    margin-right: 6px;
    content: "\f123";
    margin-right: 0;
    vertical-align: text-top; }
