<rn:block id="availableImmediatelyMessageTop"/>
<div class="rn_Chat">
    <rn:block id="availableImmediatelyMessageLink">
    <a href="javascript:void(0);" id="rn_<%= instanceID %>_AvailableImmediatelyLink"><%= linkTitle %></a>
    </rn:block>
    <rn:block id="availableImmediatelyMessageContents">
    <span id="rn_<%= instanceID %>_AvailableImmediatelyMessage"><%= message %></span>
    <rn:block>
</div>
<rn:block id="availableImmediatelyMessageBottom"/>
