<rn:block id="availableWithWaitMessageTop"/>
<div class="rn_Chat">
    <rn:block id="availableWithWaitMessageLink">
    <a href="javascript:void(0);" id="rn_<%= instanceID %>_AvailableWithWaitLink"><%= linkTitle %></a>
    </rn:block>
    <rn:block id="availableWithWaitMessageContents">
    <span id="rn_<%= instanceID %>_AvailableWithWaitMessage"><%= message %></span>
    </rn:block>
</div>
<rn:block id="availableWithWaitMessageBottom"/>
