<rn:block id="defaultMessageTop"/>
<div class="rn_Chat">
    <rn:block id="defaultMessageLink">
    <a href="javascript:void(0);" id="rn_<%= instanceID %>_DefaultLink"><%= linkTitle %></a>
    </rn:block>
    <rn:block id="defaultMessageContents">
    <span id="rn_<%= instanceID %>_DefaultMessage"><%= message %></span>
    </rn:block>
</div>
<rn:block id="defaultMessageBottom"/>
