<rn:block id="unavailableMessageTop"/>
<div class="rn_Chat">
    <rn:block id="unavailableMessageContents">
    <span id="rn_<%= instanceID %>_UnavailableMessage"><%= message %></span>
    </rn:block>
</div>
<rn:block id="unavailableMessageBottom"/>
