<rn:block id="unavailableHoursMessageTop"/>
<div class="rn_Chat">
    <rn:block id="unavailableHoursMessageLink">
    <a style="pointer-events: none;cursor: default;" href="javascript:void(0);"><%= linkTitle %></a>
    </rn:block>
    <rn:block id="unavailableHoursMessageContents">
    <span id="rn_<%= instanceID %>_UnavailableHoursMessage"><%= message %></span>
    </rn:block>
</div>
<rn:block id="unavailableHoursMessageBottom"/>
