.rn_CommunityHome {
    padding: 0;

    &.hero {
        min-height: 200px;
    }

    h2 {
        margin-bottom: 0;
        line-height: 1.5em;
    }

    .rn_AnnouncementText {
        border: 1px solid #a1a1a1;
        border-radius: 6px;
        padding: 0.5em;
        background-color: #e5f1ff;
        margin-top: 0.8em;
        ul {
            padding-top: 0.7em;
        }
    }

    .rn_Forums {
        margin-top: 0.5em;
        .rn_ForumListIcon {
            @include icon($social-discussion-icon) {
                color: #62c2ff;
            }
            float: left;
            width: 15%;
            font-size: 2.5em;
            font-weight: bold;
            line-height: 0.5em;
            text-align: center;
        }
        .rn_ForumListTitle {
            width: 80%;
            display: inline-block;
            vertical-align: text-top;
        }
        clear: both;
    }

    .rn_MostComments {
        margin-top: 0.5em;
        .rn_UserListIcon {
            @include icon($fa-var-line-chart, before) {
                color: #62c2ff;
            }
            float: left;
            width: 12%;
            font-size: 1.6em;
            font-weight: bold;
            line-height: 1.5em;
            text-align: center;
        }
        .rn_UserListTitle {
            width: 80%;
            display: inline-block;
        }
        clear: both;
    }

    .rn_RecentUsers {
        margin-top: 0.5em;
        .rn_StackedIcons {
            @include stacked-icons('\f007', '\f1db');
            float: left;
            width: 15%;
            margin-right: 0.1em;
            line-height: 2em;
            font-size: 1.4em;
            &:before {
                color: #62C2FF;
            }
            &:after {
                color: #62C2FF;
            }
        }
        .rn_RecentUsersTitle {
            width: 80%;
            display: inline-block;
            vertical-align: text-top;
        }
        .rn_RecentUsersList {
            clear: both;
        }
    }

    .rn_RecentQuestions {
        margin-top: 0.5em;
        .rn_StackedIcons {
            @include stacked-icons('\f128', '\f075');
            float: left;
            width: 15%;
            font-size: 1.4em;
            margin-right: 0.1em;
            line-height: 1.7em;
            &:before {
                color: #62C2FF;
            }
            &:after {
                color: white;
            }
        }
        .rn_RecentQuestionsTitle {
            width: 80%;
            display: inline-block;
        }
    }
}
