.rn_HighContrastMode .rn_OracleLogo a:before {
    content: "Powered By Oracle"; /* intentionally untranslated */
}

.rn_OracleLogo a {
    background:url(/euf/core/static/PoweredByOracle.png) no-repeat scroll right 0 !important;
    display:block !important;
    height:29px !important;
    width:134px !important;
}
.rn_OracleLogo a:focus,
.rn_OracleLogo a:hover {
    background-position:right -37px !important;
}
