.rn_SimpleSearch {
    position:relative;
}
.rn_SimpleSearch .rn_SearchField {
    width:97%;
}
.rn_SimpleSearch .rn_SearchImage {
    border:none;
    padding:0;
    position:absolute;
    right:0.2em;
    top:0.46em;
    /**IE6/7*/
    *right:0.28em;
    *top:0.6em;
}