<div class="rn_RoleSetTabs">
    <% for (var i in tabs) { %>
        <a href="javascript:void(0);"  role="link" data-rel="<%= i %>">
            <span class="rn_ScreenReaderOnly"></span>
            <%= tabs[i] %>
        </a>
    <% } %>
</div>