<div class="rn_StatusIcon <%= className %>" aria-live="assertive">
    <rn:block id="statusIconTop"/>
    <rn:block id="statusIcon">
        <span title="<%= message %>" class="<%= icon %>">
            <span class="rn_ScreenReaderOnly"><%= message %></span>
        </span>
    </rn:block>
    <rn:block id="statusIconBottom"/>
</div>
