<rn:block id="preLabel"/>
<%= label %>
<% if(requiredLevel) { %>
<span class="rn_Required"> <%= requiredMarkLabel %></span><span id="rn_<%= instanceID %>_ErrorLabel" class="rn_ErrorLabel">
</span>
<% } %>
<rn:block id="postLabel"/>
