.rn_RichTextInput.rn_TextInput {
    position: relative;
    overflow: hidden;
}

.rn_RichTextInput .rn_Hidden {
    display: none !important;
}

.rn_RichTextInput .rn_InputEditor {
    position: relative;
}

.rn_RichTextInput .rn_InputEditor .rn_MenuButton {
    bottom: 0;
    margin: 0;
    position: absolute;
    right: 0;
    z-index:10;
}

.rn_RichTextInput .rn_SlideMenu {
    bottom: 0;
}

.rn_RichTextInput .rn_SlideMenu button {
    float: left;
}

.rn_RichTextInput .rn_Menu {
    position: absolute;
}

.rn_RichTextInput .rn_Menu div {
    float: left;
}

.rn_RichTextInput .rn_Menu,
.rn_RichTextInput .rn_Menu button {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/**
 * Don't show formatting buttons on mobile devices and small-sized desktop windows.
 * This is mainly to remove buttons that get in the way or provide a poor experience
 * when the text box is small.
 * These buttons are also not rendered on touchscreen-type devices, since the OS's
 * native selection menu appears when text is selected and applying formatting to
 * selected text in such a manner is a frustrating user experience.
 */
@media (max-width: 480px) {
    .rn_RichTextInput .rn_Menu .rn_FormatAction {
        display: none;
    }
}

.rn_RichTextInput .rn_RichToolTip {
    position: absolute;
    max-width: 250px;
    min-width: 200px;
}

.rn_RichTextInput .rn_RichToolTip .rn_ToolTipContent {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 95%;
}
