<rn:block id="preTooltip"/>
<div class="rn_RichToolTip rn_Hidden">
    <rn:block id="topTooltip"/>
    <div class="rn_ToolTipContent"></div>
    <div class="rn_ToolTipActions">
        <div class="rn_FloatLeft">
            <a class="rn_InsertLink" href="javascript:void(0);"><%= messages.label_change_link %></a>
        </div>
        <div class="rn_FloatRight">
            <a class="rn_RemoveLink" href="javascript:void(0);"><%= messages.label_remove_link %></a>
        </div>
    </div>
    <rn:block id="bottomTooltip"/>
</div>
<rn:block id="postTooltip"/>
