.rn_ProductCategoryImageDisplay {
  *zoom: 1; }
  .rn_ProductCategoryImageDisplay:before, .rn_ProductCategoryImageDisplay:after {
    content: " ";
    display: table; }
  .rn_ProductCategoryImageDisplay:after {
    clear: both; }
  .rn_ProductCategoryImageDisplay img {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%; }
    .rn_ProductCategoryImageDisplay img:last-child {
      margin-right: 0; }
