<div class="rn_Total">
	<rn:block id="totalContent">
		<div class="rn_TotalAmountContainer">
			<span class="rn_TotalAmountLabel">Total (<%= totalItems %> items):</span>
			<span class="rn_TotalAmount"><%= formatPrice(totalAmount) %></span>
		</div>
	</rn:block>
</div>