.rn_ChatQueuePosition{
    background:#EFEFF4 url(../images/layout/whitePixel.png) repeat-x scroll 0 0;
    border:solid #BBBBBB;
    border-width:1px 1px 0;
    margin: 1em 1em 0;
    padding:5px;
    line-height:1.25em;
    text-align:center;
}
