.rn_EmailCheck .rn_Text{
    width: 250px;
    height: 1.4em;
    font-size: 1.333em;
}
.rn_EmailCheck .rn_Label{
    font-weight: bold;
}
.rn_EmailCheck .rn_EmailCheckSubmit{
    padding-left: 5px;
}
.rn_EmailCheck .rn_EmailCheckField{
    display: inline;
}
