.rn_Paginator {
  margin-top: 10px;
  text-align: right; }
  .rn_Paginator ul {
    *zoom: 1; }
    .rn_Paginator ul:before, .rn_Paginator ul:after {
      content: " ";
      display: table; }
    .rn_Paginator ul:after {
      clear: both; }
  .rn_Paginator li {
    border: 0;
    display: inline-block;
    list-style-type: none;
    padding: 0 0.2em;
    margin-right: 4px; }
  .rn_Paginator a {
    font-weight: normal;
    text-decoration: none; }
  .rn_Paginator .rn_CurrentPage {
    color: #3B6DB1;
    cursor: default;
    font-weight: bold; }
  .rn_Paginator .rn_NextPage, .rn_Paginator .rn_PreviousPage {
    color: #3B6DB1;
    font-size: 0.8em;
    cursor: pointer; }
    .rn_Paginator .rn_NextPage span, .rn_Paginator .rn_PreviousPage span {
      font-size: 1.2em; }
  .rn_Paginator .rn_NextPage:after {
    font-family: 'FontAwesome';
    margin-left: 6px;
    content: "\f054"; }
  .rn_Paginator .rn_PreviousPage:before {
    font-family: 'FontAwesome';
    margin-right: 6px;
    content: "\f053"; }