.rn_ResultInfo2 .rn_Spell {
    color:#FF0000;
    font-size:medium;
    margin:10px 0 20px;
}
.rn_ResultInfo2 .rn_Spell a {
    color:#003399;
    font-style:italic;
    font-weight:bold;
}
.rn_ResultInfo2 .rn_NoResults {
    background-color:#F2F2F2;
    border:1px solid #A1A5A9;
    padding:10px;
}
.rn_ResultInfo2 .rn_Suggestion {
    color:#222;
    font-style:italic;
    padding:10px 0;
}
.rn_ResultInfo2 .rn_Suggestion a {
    font-style:normal;
}
.rn_ResultInfo2 .rn_Results span {
    font-weight:bold;
}
