.rn_Grid {
  font-size: 0.7em; }
  .rn_Grid .yui3-datatable-sort-liner {
    position: relative; }
  .rn_Grid .yui3-datatable-sort-indicator {
    padding-left: 8px; }
    .rn_Grid .yui3-datatable-sort-indicator:before {
      font-family: 'FontAwesome';
      line-height: 1em;
      margin-right: 6px;
      content: "\f0dc"; }
  .rn_Grid .yui3-datatable-sorted .yui3-datatable-sort-indicator:before {
    font-family: 'FontAwesome';
    line-height: 1em;
    margin-right: 6px;
    content: "\f0de"; }
  .rn_Grid .yui3-datatable-sorted-desc .yui3-datatable-sort-indicator:before {
    font-family: 'FontAwesome';
    line-height: 1em;
    margin-right: 6px;
    content: "\f0dd"; }
  .rn_Grid .rn_Highlight {
    font-style: normal;
    font-weight: bold; }
