.rn_ProductCategoryList h2 {
  margin-bottom: 0.5em; }
.rn_ProductCategoryList .rn_ListColumns {
  *zoom: 1;
  display: block;
  margin: 0 1em; }
  .rn_ProductCategoryList .rn_ListColumns:before, .rn_ProductCategoryList .rn_ListColumns:after {
    content: " ";
    display: table; }
  .rn_ProductCategoryList .rn_ListColumns:after {
    clear: both; }
  .rn_ProductCategoryList .rn_ListColumns .rn_LeftColumn {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%; }
    .rn_ProductCategoryList .rn_ListColumns .rn_LeftColumn:last-child {
      margin-right: 0; }
  .rn_ProductCategoryList .rn_ListColumns .rn_RightColumn {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%; }
    .rn_ProductCategoryList .rn_ListColumns .rn_RightColumn:last-child {
      margin-right: 0; }
  .rn_ProductCategoryList .rn_ListColumns .rn_LeftColumn > li, .rn_ProductCategoryList .rn_ListColumns .rn_RightColumn > li {
    margin-top: 0.5em; }
  .rn_ProductCategoryList .rn_ListColumns .rn_LeftColumn .rn_ListItemLink:hover, .rn_ProductCategoryList .rn_ListColumns .rn_RightColumn .rn_ListItemLink:hover {
    color: #264e85; }
  @media screen and (max-width: 720px) {
    .rn_ProductCategoryList .rn_ListColumns .rn_LeftColumn, .rn_ProductCategoryList .rn_ListColumns .rn_RightColumn {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%; }
      .rn_ProductCategoryList .rn_ListColumns .rn_LeftColumn:last-child, .rn_ProductCategoryList .rn_ListColumns .rn_RightColumn:last-child {
        margin-right: 0; } }
  .rn_ProductCategoryList .rn_ListColumns h3 {
    font-size: 1.5em; }
  .rn_ProductCategoryList .rn_ListColumns .rn_SubItemList {
    margin-left: 1em; }
