.rn_RelatedKnowledgebaseAnswers.rn_TopAnswers ul {
  padding-top: 0; }
.rn_RelatedKnowledgebaseAnswers.rn_TopAnswers .rn_RelatedKnowledgebaseAnswersItem {
  margin-bottom: 0; }
  .rn_RelatedKnowledgebaseAnswers.rn_TopAnswers .rn_RelatedKnowledgebaseAnswersItem:before {
    font-family: 'FontAwesome';
    line-height: 1em;
    margin-right: 6px;
    content: "\f0eb";
    margin-left: 1px;
    margin-right: 5px;
    font-size: 1.4em; }
  .rn_RelatedKnowledgebaseAnswers.rn_TopAnswers .rn_RelatedKnowledgebaseAnswersItem .rn_Title {
    font-size: 1em; }
