/**
 * base.css: Base CSS for CheckoutAssistant
 */
.rn_CheckoutAssistant {

}

/* Tab Header */
.rn_CheckoutAssistant
.AccordionTabHeader{
	position: relative; }
	.rn_CheckoutAssistant 
	.AccordionTabHeader .AccordionTabStatusIcon{
	    position: absolute;
	    left: 10px;
	    top: 6px;
	    font-size: 18px; }

/* Tab Controls */
.rn_CheckoutAssistant
.CheckoutAssistantTabControlsContainer{
	}
	.rn_CheckoutAssistant
	.CheckoutAssistantButtonContainer{
		float: left;
	}

@media only screen and (max-width: 510px){
	.ccProcessContainer{
		padding: 1em 1em !important;
	}
}
@media only screen and (max-width: 720px){

.rn_LoginForm .rn_ThirdPartyLogin {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%!important; 
    border-right: 1px solid #999;
    padding-right: 2em;
}
}