.rn_AnswerField {
  display: inline; }
  .rn_AnswerField .rn_SchemaAttribute {
    margin-bottom: 5px;
    font-weight: bold;
    clear: both; }
  .rn_AnswerField .rn_SchemaAttributeValue {
    margin-bottom: 30px; }
    .rn_AnswerField .rn_SchemaAttributeValue th, .rn_AnswerField .rn_SchemaAttributeValue td {
      text-align: center; }
    .rn_AnswerField .rn_SchemaAttributeValue ol, .rn_AnswerField .rn_SchemaAttributeValue ul {
      clear: both;
      padding-left: 2em; }
    .rn_AnswerField .rn_SchemaAttributeValue > ol, .rn_AnswerField .rn_SchemaAttributeValue > ul {
      margin-bottom: 1em; }
    .rn_AnswerField .rn_SchemaAttributeValue li {
      line-height: 1.4em;
      margin: 4px 0; }
    .rn_AnswerField .rn_SchemaAttributeValue ul li {
      list-style: disc; }
    .rn_AnswerField .rn_SchemaAttributeValue li ul li {
      list-style: circle; }
    .rn_AnswerField .rn_SchemaAttributeValue li li ul li {
      list-style: square; }
    .rn_AnswerField .rn_SchemaAttributeValue ol li, .rn_AnswerField .rn_SchemaAttributeValue li ol li, .rn_AnswerField .rn_SchemaAttributeValue li li ol li {
      list-style: decimal; }
  .rn_AnswerField .rn_SchemaAttribute input {
    margin-right: 5px;
    vertical-align: middle; }
  .rn_AnswerField section {
    display: inline-block;
    padding: 3px;
    width: 48%;
    word-wrap: break-word; }
  .rn_AnswerField .rn_SchemaAttribute .rn_AttributeCheckbox {
    display: inline;
    width: 10%; }

.rn_AttributeCheckboxLabel {
  display: inline;
  line-height: 2em; }
