@import 'widget-includes';

.rn_DiscussionPagination {
    padding-top: 3em;

    .rn_DiscussionPaginationLinks {
        padding: .5em 0;
        border-bottom: $dashed-border;
        border-top: $dashed-border;
        text-align: center;

        .rn_FirstDiscussion {
            @include icon($fa-var-arrow-left);
        }

        .rn_LastDiscussion {
            @include icon($fa-var-arrow-right, after);
        }

        a {
            font-size: large;
        }

        .rn_Separator::before {
            content: '';
            border: 1px solid #555;
            margin: 1em;
        }
    }
}
