@import 'widget-includes';

.rn_ModerationContentFlagFilter {
    li {
        padding-left: 5px;
    }

    input {
        vertical-align: middle;
    }

    label {
        @include inline-block;
        width: 80%;
        vertical-align: top;
        font-weight: normal;
    }
}
