@import 'widget-includes';

.rn_HighContrastMode .rn_OkcsProductCategorySearchFilter button.rn_DisplayButton {
    border: 1px outset;

    @include caret(down, after) {
        position: absolute;
        right: 5px;
        font-size: $base-font-size;
    }
}

.rn_OkcsProductCategorySearchFilter {
    margin-bottom: 15px;

    button.rn_DisplayButton {
        background: #FFF url('#{$theme-images}/split_Button_Arrow.png') no-repeat scroll right center;
        border: 1px solid #B1B1B1;
        min-height: 1.5em;
        min-width: 250px;
        padding: 4px 20px 4px 4px;
        position: relative;
        text-align: left;
        text-shadow: none;
    }

    .rn_Panel {
        background: #FFF;
        border: 1px solid #CCC;
        max-height: 200px;
        overflow: auto;
        padding: 6px;
    }

    .rn_PanelContainer {
        border: 1px solid #B1B1B1;
        border-top: 0;

        .rn_Panel {
            border: 0;
        }
    }

    .rn_SelectionButtons {
        background: #F8F8F8;
        border-top: 1px solid #B1B1B1;

        button {
            font-size: .95em;
            margin: 7px 0 7px 5px;
            padding: 5px;
        }
    }

    button.rn_DisplayButton {
        &:hover, &:focus {
            background-color: #F8F8F8;
        }
    }

    table {
        border-collapse: collapse;
    }

    .rn_Label {
        color: #333;
        float: left;
        font-weight: bold;
    }

    .rn_OkcsProductCategorySearchFilterExplorerView {
        border: 1px solid #BEBEBE;
    }

    .rn_CategoryExplorer {
        border: 1px solid #CCC;
    }

    .rn_CategoryExplorerTitleDiv {
        background: lighten($hero-background, 10%);
        color: $hero-color;
        font-weight: normal;
        border-bottom: 1px solid #CCC;
        padding: 7px;
        line-height: 1.4em;
    }

    .rn_CategoryExplorerContentDiv {
        padding: 12px;
        overflow: auto;

        ul {
            list-style: none outside none;
        }
    }

    .rn_CategoryExplorerExpandedHidden {
        display: none;
    }

    .rn_CategoryExplorerCollapsedHidden {
        visibility: hidden;
        width: 16px;
    }

    .rn_CategoryExplorerCollapsed, .rn_CategoryExplorerExpanded {
        font-family: 'FontAwesome';
        display: inline-block;
        margin-right: 5px;
        text-decoration: none;
    }

    .rn_CategoryExplorerCollapsed {
        @include icon($fa-var-plus-square);
    }

    .rn_CategoryExplorerExpanded {
        @include icon($fa-var-minus-square);
    }

    .rn_CategoryExplorer a {
        &.rn_CategoryExplorerLink {
            line-height: 26px;
        }

        &:link {
            color: #3B6DB1;
            white-space: nowrap;
        }
    }

    .rn_CategoryExplorerItem {
        line-height: 30px;
        white-space: nowrap;

        ul {
            padding-left: 17px;
        }
    }

    .rn_CategoryExplorerListHidden {
        display: none;
    }

    .rn_CategoryExplorerLinkSelected {
        background: #EBEFF5;
        border: 1px solid #CCC;
        padding: 10px;
        font-size: $form-font-size;
        font-family: $form-font-family;
        font-weight: bold;
        @include icon($fa-var-times-circle, after);
        &:after {
            margin-left: 10px;
        }
    }
}

.ygtvlabel {
    color: #111;

    &:link, &:visited, &:hover {
        color: #111;
    }
}

.rn_ProductCategoryLinks {
    width: 400px;
}

.rn_LeafNode {
    margin-left: 15px;
}
