@import 'widget-includes';

.rn_RecentlyAskedQuestions {
    @include outer-container;

    @mixin bubble ($background) {
        border-radius: 6px;
        padding: 10px;
        background: $background;
    }

    .rn_Author {
        @include span-columns(1);

        @include media($rn-medium) {
            @include span-columns(2);
        }
    }

    .rn_RecentlyAskedQuestionsItem {
        @include span-columns(12);
        @include small-full-width;
        margin-bottom: 2em;
    }

    .rn_QuestionInfo {
        margin-top: 10px;

        .rn_AvatarLink {
            visibility: hidden;

            @include icon($fa-var-question-circle) {
                visibility: visible;
                font-size: 1.6em;
                color: $base-font-color;
            }
        }


        .rn_QuestionSubject {
            @include span-columns(11);

            @include media($rn-medium) {
                @include span-columns(10);
            }

            $background: lighten($light-gray, 10);
            $border: lighten($base-border-color, 3);

            @include bubble($background);
            border: 1px solid $border;
            box-shadow: 0 1px 2px rgba(20, 20, 20, .1);
            color: #222;
            padding-bottom: 1em;
            position: relative;
            word-wrap: break-word;

            @include caret(left) {
                font-size: 1.5em;
                position: absolute;
                left: -8px;
                top: 10px;
                color: $background;
                z-index: 1;
            }

            @include caret(left, after) {
                font-size: 1.6em;
                position: absolute;
                left: -15px;
                top: 10px;
                color: $border;
            }

            .rn_AnswerText {
                word-wrap: break-word;
            }

            .rn_BestAnswerLabel {
                font-weight: bold;
            }

            .rn_AnswerMoreLink {
                display: block;
                padding-right: 1em;
                text-align: right;

                a {
                    color: darken($base-link-color, 10);
                }
            }
        }
    }

    .rn_ContentLocked {
        @include icon($fa-var-lock, after);
    }
}
