@import 'widget-includes';

.rn_SearchResult {
    padding: 0;

    .rn_SearchResultTitle {
        background: lighten($hero-background, 10%);
        font-weight: normal;
        text-align: center;
    }

    .rn_SearchResultTitleAnswer {
        background: lighten($hero-background, 10%);
        color: $hero-color;
        border: 1px solid #CCC;
        padding: 7px;
    }

    .rn_SearchResultAnswer {
        padding: 10px !important;
        width: auto;
    }

    .rn_SearchResultContent {
        table {
            border: 1px solid #CCC;
            border-top: 0;
            border-spacing: 0;
            width: 100%;
            margin: 0;
            table-layout: fixed;
        }

        span {
            word-wrap: break-word;
        }

        a {
            text-decoration: none;
            word-wrap: break-word;
            padding: 0.2em;
        }
    }

    .rn_SearchResultLoading {
        height: 100px !important;
        border: 0 !important;
    }

    tr:nth-child(2n) {
        background-color: #FAFAFA;
    }

    .rn_SnippetLevel1 {
        background-color: #D8DFE8;
        font-weight: normal;
    }

    .rn_SnippetLevel2 {
        background-color: #D8DFE8;
        font-weight: bold;
    }

    .rn_SnippetLevel3 {
        background-color: #D8DFE8;
        font-weight: bold;
    }

    .rn_SearchResultExcerpt {
        margin-top: 5px;
        word-wrap: break-word;
    }

    .rn_NoSearchResultMsg {
        margin-left: -260px;
        padding: 10px;
    }

    .rn_NoSearchResult p {
        background-color: #F2F2F2;
        border: 1px solid #A1A5A9;
        padding: 10px;
    }

    .rn_SearchResultIcon {
        height: 16px;
        width: 16px;
        overflow: hidden;
        display: inline-block;
        vertical-align: middle;

        &:before {
            content: url('#{$theme-images}/searchResultSprite.png');
            position: relative;
        }
    }

    .rn_File_document_plain_green:before {
        top: 0;
    }

    .rn_File_cms_xml:before {
        top: -16px;
    }

    .rn_File_open_office_document:before {
        top: -32px;
    }

    .rn_File_html:before {
        top: -49px;
    }

    .rn_File_image:before {
        top: -66px;
    }

    .rn_File_iqxml:before {
        top: -82px;
    }

    .rn_File_ms_excel:before {
        top: -98px;
    }

    .rn_File_ms_powerpoint:before {
        top: -113px;
    }

    .rn_File_ms_word:before {
        top: -129px;
    }

    .rn_File_news:before {
        top: -145px;
    }

    .rn_File_null:before {
        top: -161px;
    }

    .rn_File_pdf:before {
        top: -177px;
    }

    .rn_File_rtf:before {
        top: -192px;
    }

    .rn_File_table:before {
        top: -209px;
        width: 18px;
        height: 15px;
    }

    .rn_File_text:before {
        top: -224px;
    }

    .rn_File_open_office_spreadsheet:before {
        top: -239px;
    }

    .rn_File_open_office_presentation:before {
        top: -113px;
    }

    .rn_File_intent:before {
        top: -269px;
    }

    .rn_File_message:before {
        top: -284px;
    }

    .rn_File_messages:before {
        top: -300px;
    }

    .rn_File_trail_arrow:before {
        top: -314px;
        width: 9px;
        height: 9px;
    }

    .rn_File_wizard_marker:before {
        top: -325px;
        width: 20px;
        height: 19px;
    }

    .rn_File_wizard_marker_rtl:before {
        top: -345px;
        width: 20px;
        height: 19px;
    }

    .rn_File_xml:before {
        top: -254px;
    }
}

.rn_SearchResultContent table {
    display: block;

    tbody {
        display: block;

        tr {
            display: block;

            td {
                display: block;
            }
        }
    }
}
