@import 'widget-includes';

.rn_SocialContentRating {
    $icon-color: darken($base-accent-color, 5);

    button.rn_UpvoteButton {
        @include icon($fa-var-arrow-circle-o-up) {
            padding: 0 .1em;
            margin-right: 0;
            vertical-align: text-top;
        }

        &:not([disabled]) {
            &:hover, &:focus, &:active {
                color: darken($icon-color, 15);
            }
        }
    }

    button.rn_ResetButton {
        @include icon($fa-var-times);
        background: transparent;
        color: desaturate(lighten(red, 20), 10);
        padding-left: 0;
        padding-right: 0;
        margin-left: 10px;
        font-size: medium;
        font-weight: normal;
        vertical-align: inherit;

        &:hover, &:focus, &:active {
            border: 0;
            box-shadow: none;
            background: transparent;
            color: desaturate(lighten(red, 10), 10);
        }
    }

    button.rn_StarButton.rn_Vote,
    button.rn_StarButton.rn_Voted,
    button.rn_UpvoteButton,
    button.rn_ThumbsDownButton.rn_Vote,
    button.rn_ThumbsDownButton.rn_Voted,
    button.rn_ThumbsUpButton.rn_Vote,
    button.rn_ThumbsUpButton.rn_Voted {
        margin-right: -.3em;
        color: $icon-color;
        background: none;
        border: 0;
        box-shadow: none;
        font-size: large;
        text-shadow: none;
        padding: 0;
        font-weight: normal;

        &:hover, &:focus, &:active, &:disabled {
            border: 0;
            box-shadow: none;
            background: none;
        }

        &:disabled {
            color: $icon-color;
        }
    }

    button.rn_StarButton.rn_Vote {
        @include icon($fa-var-star-o) {
            margin-right: 0;
            vertical-align: text-top;
        }

        &:not([disabled]) {
            &:hover, &:hover ~ button.rn_StarButton.rn_Vote,
            &:focus, &:focus ~ button.rn_StarButton.rn_Vote,
            &:active, &:active ~ button.rn_StarButton.rn_Vote {
                @include icon($fa-var-star) {
                    margin-right: 0;
                    vertical-align: text-top;
                }
            }
        }
    }

    button.rn_StarButton.rn_Voted {
        @include icon($fa-var-star) {
            margin-right: 0;
            vertical-align: text-top;
        }
    }

    div.rn_StarVoting {
        direction: rtl;
    }

    button.rn_ThumbsDownButton.rn_Vote {
        @include icon($fa-var-thumbs-o-down) {
            padding: 0 .1em;
            margin-right: 0;
            vertical-align: text-top;
        }

        &:not([disabled]) {
            &:hover, &:focus, &:active {
                @include icon($fa-var-thumbs-down) {
                    margin-right: 0;
                    vertical-align: text-top;
                }
            }
        }
    }

    button.rn_ThumbsDownButton.rn_Voted {
        @include icon($fa-var-thumbs-down) {
            margin-right: 0;
            vertical-align: text-top;
        }
    }

    button.rn_ThumbsUpButton.rn_Vote {
        @include icon($fa-var-thumbs-o-up) {
            padding: 0 .1em;
            margin-right: 0;
            vertical-align: text-top;
        }

        &:not([disabled]) {
            &:hover, &:focus, &:active {
                @include icon($fa-var-thumbs-up) {
                    margin-right: 0;
                    vertical-align: text-top;
                }
            }
        }
    }

    button.rn_ThumbsUpButton.rn_Voted {
        @include icon($fa-var-thumbs-up) {
            margin-right: 0;
            vertical-align: text-top;
        }
    }

    div.rn_RatingButtons {
        display: inherit;
    }

    .rn_Separator::before {
        content: '';
        border-left: 2px solid;
        margin: .2em;
    }

    .rn_RatingValue {
        display: inline-block;
    }

    .rn_UpDownRateCount {
        display: initial;

        .rn_ThumbsUpButton.rn_RateIcon,
        .rn_ThumbsDownButton.rn_RateIcon {
            color: #505050;
            font-size: large;
            display: inline;
        }

        .rn_ThumbsUpButton.rn_RateIcon {
            @include icon($fa-var-thumbs-o-up){
                margin-right: 0;
            }
        }

        .rn_ThumbsDownButton.rn_RateIcon {
            @include icon($fa-var-thumbs-o-down) {
                margin-right: 0;
                margin-left: 6px;
            }
        }
    }

    .rn_ButtonRateCount {
        display: initial;

        .rn_UpvoteButton.rn_RateIcon {
            @include icon($fa-var-arrow-circle-o-up){
                margin-right: 0;
            }

            color: #505050;
            display: inline;
            vertical-align: sub;
        }
    }

    .rn_StarRateCount {
        display: initial;

        span.rn_StarButton.rn_VoteRating,
        span.rn_StarButton.rn_VotedRating,
        span.rn_StarButton.rn_VotedHalfRating {
            display: inline;
            color: #505050;
            vertical-align: text-bottom;
        }

        span.rn_StarButton.rn_VoteRating {
            @include icon($fa-var-star-o) {
                margin-right: 0;
                vertical-align: text-top;
            }
        }

        span.rn_StarButton.rn_VotedRating {
            @include icon($fa-var-star) {
                margin-right: 0;
                vertical-align: text-top;
            }
        }

        span.rn_StarButton.rn_VotedHalfRating {
            @include icon($fa-var-star-half-full) {
                margin-right: 0;
                vertical-align: text-top;
            }
        }
    }
}
