@import 'widget-includes';

.rn_SocialUserAvatar {

    h2 {
        margin-bottom: 20px;
    }

    .rn_PreviewImage {
        @include media ($large-screen) {
            @include span-columns(3);
        }

        img {
            width: 96px;
            position: absolute;
            top: 0;
        }

        .rn_Refresh {
            @include icon($fa-var-refresh, before);
            margin-top: .4em;
            margin-right: .5em;
        }

        .rn_image {
            @include span-columns(5);
        }

        .rn_DisplayName {
            @include span-columns(7);
            font-weight: bold;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }

    }

    .rn_Loading::before {
        display: inline-block;
    }

    .rn_AvatarOptions {
        @include media ($large-screen) {
            @include span-columns(8);
        }

        .rn_AvatarOption {
            @include row;
            padding: 1em .5em;
            border-bottom: 1px dotted $medium-gray;

            .rn_OptionTitle {
                display: block;
                font-size: larger;
                margin: .4em 0;
                font-weight: bold;
            }

            &.rn_Gravatar .rn_OptionTitle {
                background: url('#{$theme-images}/gravatar.png') 0 0 no-repeat no-repeat;
                padding-left: 28px;
                min-height: 16px;
            }

            &.rn_Facebook {
                .rn_NewSocialFacebookInput {
                    .rn_LoginProvider {
                        background-color: #3b6db1;
                        margin: .4em 0;
                        border: 0 none;
                        color: #ffffff;
                        font-size: 1em;
                        font-weight: 800;
                        letter-spacing: 1.1px;
                        padding: .5em 0;
                        width: 12.3em;
                        cursor: pointer;
                        white-space: nowrap;
                        display: inline-block;
                        line-height: 1.2em;
                        text-shadow: 0 1px 0 #1b509a;

                        &:hover {
                            background: #5b8cd0 none repeat scroll 0 0;
                            box-shadow: none;
                        }

                        &.rn_Disabled {
                            cursor: not-allowed;
                            opacity: 0.5;
                            pointer-events: none;
                        }
                    }

                    .rn_OpenLogin .rn_ActionArea {
                        padding-left: 1em;
                    }
                }

                .rn_FacebookIcon {
                    background: url('#{$theme-images}/facebook.png') 0 0 no-repeat no-repeat;
                    padding-left: 28px;
                    min-height: 16px;
                }

                .rn_CurrentSocialFacebookAvatar {
                    overflow: hidden;

                    .rn_FacebookSuccessMessage {
                        @include span-columns(10);

                        vertical-align: top;

                        a {
                            color: #23416a;
                        }
                    }
                }

                button {
                    &.rn_SelectFacebook {
                        @include span-columns(2);

                        background: none;
                        margin: 0;
                        padding: .2em 0 .5em;
                        text-align: left;

                        img {
                            width: 96px;
                        }
                    }
                }

                .rn_Explanation {
                    label {
                        font-weight: normal;
                    }

                    font-style: normal;
                    line-height: normal;
                }

                .rn_StatusIcon {
                    vertical-align: top;
                    display: inline-block;
                    margin-top: 0;
                    margin-left: .2em;
                }

                .rn_OpenLogin {
                    input {
                        min-width: auto;
                        margin-bottom: .5em;
                    }
                }
            }

            &.rn_ChosenAvatar {
                background: $light-gray;
            }

            button {
                margin: .4em 0;
                background-color: $base-link-color;

                &:hover {
                    background-color: lighten($base-link-color, 10%);
                }
            }

            .rn_Success {
                color: #008000;
            }

            .rn_Error {
                color: #F00;
            }

            .rn_StatusIcon {
                margin-top: .6em;
                display: inline;

                &.rn_Permanent i {
                    display: none;
                }
            }

            .rn_HintText {
                display: block;
                font-size: smaller;
                font-style: normal;
                font-weight: bold;
            }
        }

        .rn_CurrentSocialAvatar {
            font-style: italic;
        }

        .rn_AvatarLibraryForm {
            .rn_LoadingIcon {
                text-align: center;
                padding: 3em;

                img {
                    width: 100px;
                }
            }

            .rn_NoImages {
                text-align: center;
                padding: 3em;
            }

            .rn_ClickToChooseText {
                @include span-columns(11);
                margin-bottom: 1em;
                margin-top: 1em;
                font-weight: bold;
            }

            .rn_CloseGallery {
                @include span-columns(1);
                @include icon($fa-var-close);
                text-align: right;
                margin-right: 0;
                color: black;
                padding: 10px;
            }

            .rn_ProfilePictures {
                display : inline-block;

                div {
                    padding: 1em;
                    display: inline-block;

                    img {
                        padding: 2px;
                        border-style: groove;

                        &.rn_Clicked {
                            border-color: green;
                            border-style: solid;
                            border-width: thick;
                        }
                    }
                }
            }

            .rn_ImagePaginator {
                text-align: center;
                padding-top: 2em;

                a {
                    color: black;
                    padding: 8px 16px;
                    border: 1px solid gray;
                }

                .rn_CurrentPages a {
                    &.rn_Selected {
                        background-color: #3B6DB1;
                        color: white;
                        border: #3B6DB1;
                    }

                    &:hover:not(.rn_Selected) {
                        background-color: lightgrey;
                    }
                }
            }
        }

        .rn_RoleSetTabs {
            margin-top: 1em;
            font-size: 0;

            a {
                color: black;
                display: inline-block;
                padding: 8px 10px;
                border: 1px solid gray;
                font-size: 16px;

                &:hover {
                    background-color: #ddd;
                }

                &.rn_SelectedTab {
                    background-color: #CCC;
                }
            }
        }
    }

    .rn_NoSocialUser {
        padding: 4px 0 4px 40px;
        font-size: 1.2em;
        font-style: italic;
    }

    .rn_AvatarButtons {
        margin-top: 2em;
        display: inline-block;
    }
}

.rn_SocialUserAvatarDialog {
    .rn_DialogNote {
        @include span-columns(7);

        .rn_DialogNoteLabel {
            font-weight: bold;
        }
    }

    .rn_DialogAvatarImages {
        @include span-columns(5);

        .rn_UserAvatar {
            text-align: center;

            img {
                float: right;
            }

            div {
                width: 96px;
                height: 96px;
                position: relative;
                float: right;
            }

            &:last-child {
                margin-top: 1em;
            }
        }
    }
}