.rn_SearchResult {
  padding: 0;
  font-size: 1.1em;
  line-height: 1.3em; }
  .rn_SearchResult .rn_File_xls:before {
    top: -239px; }
  .rn_SearchResult .rn_File_intent:before {
    top: -269px; }
  .rn_SearchResult .rn_SearchResultTitle {
    background: #536A8B;
    background: -moz-linear-gradient(top, #536A8B, #536A8B);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#536A8B), to(#536A8B));
    font-weight: normal;
    text-align: center; }
  .rn_SearchResult .rn_SearchResultTitleAnswer {
    border: 1px solid #cccccc;
    line-height: 36px;
    color: #FFF; }
  .rn_SearchResult .rn_SearchResultAnswer {
    padding: 14px !important;
    width: auto; }
  .rn_SearchResult .rn_SearchResultContent table {
    border: 1px solid #cccccc;
    border-top: 0;
    border-spacing: 0;
    width: 100%;
    margin: 0;
    table-layout: fixed; }
  .rn_SearchResult .rn_SearchResultContent span {
    word-wrap: break-word; }
  .rn_SearchResult .rn_SearchResultContent a {
    text-decoration: none;
    word-wrap: break-word;
    padding: 0.2em; }
  .rn_SearchResult .rn_SearchResultExcerpt {
    margin-top: 5px;
    word-wrap: break-word; }
  .rn_SearchResult .rn_NoSearchResultMsg {
    padding: 10px; }
  .rn_SearchResult .rn_NoSearchResult p {
    background-color: #F2F2F2;
    border: 1px solid #A1A5A9;
    padding: 10px; }
  .rn_SearchResult .rn_SearchResultIcon {
    height: 16px;
    width: 16px;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer; }
    .rn_SearchResult .rn_SearchResultIcon:before {
      content: url('../images/searchResultSprite.png');
      position: relative; }
  .rn_SearchResult .rn_SearchResultLoading {
    height: 100px !important;
    border: none !important; }
  .rn_SearchResult tr:nth-child(2n) {
    background-color: #FAFAFA; }
  .rn_SearchResult .rn_SnippetLevel1 {
    background-color: #D8DFE8;
    font-weight: normal; }
  .rn_SearchResult .rn_SnippetLevel2 {
    background-color: #D8DFE8;
    font-weight: bold; }
  .rn_SearchResult .rn_SnippetLevel3 {
    background-color: #D8DFE8;
    font-weight: bold; }
  .rn_SearchResult .rn_File_document_plain_green:before {
    top: 0; }
  .rn_SearchResult .rn_File_cms_xml:before {
    top: -16px; }
  .rn_SearchResult .rn_File_doc:before {
    top: -32px; }
  .rn_SearchResult .rn_File_html:before {
    top: -49px; }
  .rn_SearchResult .rn_File_image:before {
    top: -66px; }
  .rn_SearchResult .rn_File_iqxml:before {
    top: -82px; }
  .rn_SearchResult .rn_File_ms_excel:before {
    top: -98px; }
  .rn_SearchResult .rn_File_ms_powerpoint:before {
    top: -113px; }
  .rn_SearchResult .rn_File_ms_word:before {
    top: -129px; }
  .rn_SearchResult .rn_File_news:before {
    top: -145px; }
  .rn_SearchResult .rn_File_null:before {
    top: -161px; }
  .rn_SearchResult .rn_File_pdf:before {
    top: -177px; }
  .rn_SearchResult .rn_File_rtf:before {
    top: -192px; }
  .rn_SearchResult .rn_File_table:before {
    top: -209px;
    width: 18px;
    height: 15px; }
  .rn_SearchResult .rn_File_text:before {
    top: -224px; }
  .rn_SearchResult .rn_File_message:before {
    top: -284px; }
  .rn_SearchResult .rn_File_messages:before {
    top: -300px; }
  .rn_SearchResult .rn_File_trail_arrow:before {
    top: -314px;
    width: 9px;
    height: 9px; }
  .rn_SearchResult .rn_File_wizard_marker:before {
    top: -325px;
    width: 20px;
    height: 19px; }
  .rn_SearchResult .rn_File_wizard_marker_rtl:before {
    top: -345px;
    width: 20px;
    height: 19px; }
  .rn_SearchResult .rn_File_xml:before {
    top: -254px; }

.rn_SearchResultContent table {
  display: block; }
  .rn_SearchResultContent table tbody {
    display: block; }
    .rn_SearchResultContent table tbody tr {
      display: block; }
      .rn_SearchResultContent table tbody tr td {
        display: block; }
