.rn_ProductCatalogDisplay .rn_DataLabel {
    float:left;
    font-weight:bold;
}
.rn_ProductCatalogDisplay .rn_DataValue {
    margin-left:50px;
}
.rn_ProductCatalogDisplay .rn_DataValue ul {
    clear:none;
    margin:0;
}
.rn_ProductCatalogDisplay .rn_DataValue.rn_LeftJustify {
    clear:left;
    margin-left:0;
    padding-bottom:1%;
}
