<rn:block id='preRelevancyMeter'/>
<span class='rn_Meter' title='<%= text %>'>
    <span class='rn_ScreenReaderOnly'><%= text %></span>
    <span class='rn_Score' style='width:<%= value %>%;'>
        <span class='rn_ScoreTop'></span>
    </span>
</span>
<rn:block id='postRelevancyMeter'/>