.rn_DocumentRating .rn_HiddenMessage {
    margin-top: 12px;
}
.rn_DocumentRating .rn_RatingTitle {
    margin: 10px 0;
}
.rn_DocumentRating .rn_RatingInput {
    margin-bottom: 10px;
    margin-top: 1px;
    vertical-align: top;
}
.rn_DocumentRating .rn_StarRatingInput, .rn_DocumentRating  .rn_Selected {
    width: 24px;
    margin-right: 1px;
    padding-left: 0;
    background: none;
    border: none;
    box-shadow: none;
    font-size: 1.3em;
    font-family: 'FontAwesome';
    color: #294F88;
    float: left;
}
.rn_DocumentRating .rn_StarRatingInput:before{
    content: "\f006"; /* icon-star-empty */
}
.rn_DocumentRating .rn_Selected:before{
    content: "\f005"; /* icon-star */
}
.rn_DocumentRating .rn_SubmitButton {
    display: block;
    clear: both;
    margin-top: 45px;
}
