/**
 * base.css: Base CSS for ItemPopupGallery
 */

/* Reset spacing on p tags */
.rn_ItemPopupGallery p{
	padding: 0;
	margin: 0; }

/* Item Popup Gallery Title */
.rn_ItemPopupGallery
.rn_ItemGalleryTitleContainer{
	}
	.rn_ItemPopupGallery
	.rn_ItemGalleryTitleContainer p.rn_ItemGalleryTitle{
		font-family: Gotham, Arial;
	    font-size: 28px;
	    line-height: 28px;
	    font-weight: bold;
	    font-style: normal;
	    color: #706359; }

/* Item Popup Gallery Description */
.rn_ItemPopupGallery
.rn_ItemGalleryDescriptionContainer{
	margin: 14px 0; }
	.rn_ItemPopupGallery
	.rn_ItemGalleryDescriptionContainer p.rn_ItemGalleryDescription{
	font-family: Gotham, Arial;
    font-size: 14px;
    line-height: 21px;
    font-weight: 300;
    font-style: normal;
    color: #706359; }

/* Item Popup Gallery Content */
.rn_ItemPopupGallery
.rn_ItemGalleryContentContainer{
	}
	/* Loading indicator */
	.rn_ItemPopupGallery
	.rn_ItemGalleryContentContainer .rn_ItemGalleryLoadingIndicatorContainer{
		text-align: center; }
		.rn_ItemPopupGallery
		.rn_ItemGalleryContentContainer .rn_ItemGalleryLoadingIndicatorContainer:before{
			content: ' ';
		    display: inline-block;
		    vertical-align: middle;
		    height: 100%; }
		.rn_ItemPopupGallery
	    .rn_ItemGalleryContentContainer .rn_ItemGalleryLoadingIndicatorContainer .rn_ItemGalleryLoadingIndicator{
			display: inline-block;
		    vertical-align: middle; }
			.rn_ItemPopupGallery
			.rn_ItemGalleryContentContainer .rn_ItemGalleryLoadingIndicatorContainer .rn_ItemGalleryLoadingIndicator 
			.rn_ItemGalleryLoadingIndicatorMsgContainer{
				display: inline-block;
				height: 66px; 
				line-height: 66px;
				padding: 0 10px 0 10px;
	    		vertical-align: top; }
	/* Items */
	.rn_ItemPopupGallery 
	.rn_ItemGalleryContentContainer .rn_ItemGalleryItemsContainer{
		overflow: auto; }
		.rn_ItemPopupGallery 
		.rn_ItemGalleryContentContainer .rn_ItemGalleryItemsContainer .rn_ItemGalleryItemRow .rn_ItemGalleryItem{
			display: inline-block;
			cursor: pointer;
			vertical-align: bottom; }
			.rn_ItemPopupGallery 
			.rn_ItemGalleryContentContainer .rn_ItemGalleryItemsContainer .rn_ItemGalleryItemRow .rn_ItemGalleryItem .rn_ItemGalleryItemIcon{
			    width: 90%;
			    height: 100px;
			    margin: 0 auto;
			    background-color: gray; }
			.rn_ItemPopupGallery 
			.rn_ItemGalleryContentContainer .rn_ItemGalleryItemsContainer .rn_ItemGalleryItemRow .rn_ItemGalleryItem .rn_ItemGalleryItemTitleContainer{
				text-align: center; }
				.rn_ItemPopupGallery 
				.rn_ItemGalleryContentContainer .rn_ItemGalleryItemsContainer .rn_ItemGalleryItemRow 
				.rn_ItemGalleryItem .rn_ItemGalleryItemTitleContainer p.rn_ItemGalleryItemTitle{
					margin: 0;
					padding: 0; }
	/* Pagination */
	.rn_ItemPopupGallery
	.rn_ItemGalleryPaginationContainer{
		width: 185px;
		padding: 10px;
		text-align: center; }
		.rn_ItemPopupGallery
		.rn_ItemGalleryPaginationContainer a.rn_ItemGalleryPaginationPageLink{
		    margin: 0 5px;
		    padding: 0;
		    font-family: Gotham, Arial;
		    font-size: 17px;
		    font-weight: bold;
		    line-height: 18.2px;
		    color: #E3DED7 }

			.rn_ItemGalleryPaginationContainer a.rn_ItemGalleryPaginationPageLink.rn_ItemGalleryPaginationPreviousLink{
				color: black }

				.rn_ItemGalleryPaginationContainer a.rn_ItemGalleryPaginationPageLink.rn_ItemGalleryPaginationNextLink{
					color: black }

			.rn_ItemPopupGallery
			.rn_ItemGalleryPaginationContainer a.rn_ItemGalleryPaginationSelectedPageLink{
				color: black; 
				text-decoration: none;
				cursor: default; }
		.rn_ItemPopupGallery
		.rn_ItemGalleryPaginationContainer a.rn_ItemGalleryPaginationPreviousLink{
			margin-right: 5px; }