<div class="rn_ItemGalleryItem" data-id="<%= id %>">
	<rn:block id="itemContent">
		<div class="rn_ItemGalleryItemIcon">
		</div>
		<div class="rn_ItemGalleryItemTitleContainer">
			<p class="rn_ItemGalleryItemTitle"><%= data.title %></p> 
		</div>
	</rn:block>
</div>