<div class="rn_ItemGalleryItemPopup" data-id="<%= id %>">
	<rn:block id="itemPopupContent">
		<div class="rn_ItemGalleryItemIcon">
		</div>
		<div class="rn_ItemGalleryItemTitleContainer">
			<p class="rn_ItemGalleryItemTitle"><%= data.title %></p> 
		</div>
		<div class="rn_ItemGalleryItemDataContainer">
			<p class="rn_ItemGalleryItemDescription"><%= data.description %></p> 
		</div>
	</rn:block>
</div>