.rn_SourceResultListing {
  min-height: 40px; }
  .rn_SourceResultListing li {
    clear: both;
    margin: 10px 0;
    overflow: hidden;
    padding: 6px 0; }
  .rn_SourceResultListing .rn_Highlight {
    font-style: normal;
    font-weight: bold; }
  .rn_SourceResultListing .rn_AdditionalResults {
    text-align: right; }
    .rn_SourceResultListing .rn_AdditionalResults a:after {
      font-family: 'FontAwesome';
      margin-left: 6px;
      content: "\f054";
      font-size: smaller; }
