.rn_AnswerPreview {
    $navigation-color: darken($hero-background, 8);
    $background-color: #FFF;
    $border-color: #DDD;
    $shadow-color: #888;

    ol, ul {
        clear: both;
        padding-left: 2em;
    }

    > ol, > ul {
        margin-bottom: 1em;
    }

    li {
        line-height: 1.4em;
        margin: 4px 0;
    }

    ul li {
        list-style: disc;
    }

    li ul li {
        list-style: circle;
    }

    li li ul li {
        list-style: square;
    }

    ol li,
    li ol li,
    li li ol li {
        list-style: decimal;
    }

    .rn_Header {
        background-color: $navigation-color;
        height: 60px;
        width: 100%;
    }

    .rn_Footer,
    .rn_Body {
        background: $background-color;
        overflow: hidden;
        padding: 0 0 20px 10px;
        text-align: left;
        width: 99%;
    }

    .rn_MainColumn {
        background: $background-color;
        float: left;
        margin-right: 8px;
        min-height: 650px;
        height: auto !important;
        height: 650px;
        overflow: visible;
        padding: 0 0 10px 6px;
        width: 74%;
    }

    .rn_PageTitle {
        color: #25383C;
        overflow: hidden;
        padding: 16px 0 0;

        .rn_Home,
        .rn_QuestionList,
        .rn_KBAnswerList {
            border-bottom: 0;
            overflow: visible;
        }

        .rn_AnswerDetail {
            padding: 16px 0 5px;
            line-height: 1.2em;
        }

        .rn_Home {
            margin-bottom: 10px;
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            clear: left;
            word-wrap: break-word;
        }

        p {
            clear: both;
        }
    }

    .rn_Summary {
        padding: 7px 0 0;
        line-height: 1em;
        letter-spacing: -.01em;
    }

    .rn_AnswerInfo {
        color: #666;
        margin: 6px 0 20px;

        div {
            display: inline;
        }
    }

    .rn_PageContent {
        overflow: visible;
    }

    .rn_AnswerText {
        clear: both;
        line-height: 1.4em;
        padding: 5px 0 15px;
    }

    .rn_FileAttach {
        padding-bottom: 1em;
    }

    .rn_QuestionText p {
        background: #EFEFEF;
        padding: 1em;
    }
}
