.rn_CommunityHome {
    padding: 2.5em 0 0 0;

    &.hero {
        min-height: 200px;
    }

    .rn_ContentDetail h2, h2 {
        font-size: 1.5em;
        line-height: 2em;
    }

    .rn_AnnouncementText {
        border: 1px solid #a1a1a1;
        border-radius: 6px;
        padding: 1em;
        margin-bottom: 1em;
        background-color: #e5f1ff;
        h2 {
            line-height: 1.25em;
        }
        ul {
            padding-top: 0.7em;
        }
    }

    .rn_Forums {
        margin-top: 0.5em;
        .rn_ForumListIcon {
            @include icon($social-discussion-icon) {
                color: #62c2ff;
            }
            float: left;
            width: 8%;
            font-size: 3em;
            font-weight: bold;
            line-height: 1em;
        }
        .rn_ForumListTitle {
            width: 92%;
            display: inline-block;
            vertical-align: text-top;
        }
        clear: both;
    }

    .rn_UserLists {
        margin: 1em 0 0 0;
        .rn_MostCommentsList, .rn_MostQuestionsList {
            display: inline-table;
            width: 43%;
            margin-right: 3em;
            .rn_UserListIcon {
                @include icon($fa-var-line-chart, before) {
                    color: #62c2ff;
                }
                float: left;
                width: 12%;
                font-size: 1.5em;
                font-weight: bold;
                line-height: 2em;
                text-align: center;
            }
            .rn_UserListTitle {
                width: 88%;
                display: inline-block;
            }
            .rn_UserList {
                clear: both;
            }
        }
    }

    .rn_RecentQuestions {
        margin-top: 1em;
        .rn_StackedIcons {
            @include stacked-icons('\f128', '\f075');
            float: left;
            width: 8%;
            line-height: 1.8em;
            font-size: 1.7em;
            margin-right: 0.4em;
            &:before {
                color: #62C2FF;
            }
            &:after {
                color: white;
            }
        }
        .rn_RecentQuestionsTitle {
            width: 90%;
            display: inline-block;
        }
    }

    .rn_SideRail {
        padding-top: 2em;
        h2 {
            font-size:1.2em;
            line-height: 2em;
        }
        .rn_TwitterPosts {
            max-width: 252px;
        }
    }
}