.rn_SideRail {
    @include span-columns(3);
    @include media($rn-medium) {
        @include span-columns(12);
        margin-top: 0;
    }

    padding-top: 2em;

    h2 {
        font-size: 1.2em;
    }

    > div {
        margin-bottom: 4em;
    }

    .rn_PreviousAnswers h2 {
        @include icon($fa-var-calendar-o);
    }
}


.rn_RecordDetail {
    padding: 2em 0 0;

    &:empty {
        padding: 0;
    }

    ol, ul {
        clear: both;
        padding-left: 2em;
    }

    > ol, > ul {
        margin-bottom: 1em;
    }

    li {
        line-height: 1.4em;
        margin: 4px 0;
    }

    ul li {
        list-style: disc;
    }

    li ul li {
        list-style: circle;
    }

    li li ul li {
        list-style: square;
    }

    ol li,
    li ol li,
    li li ol li {
        list-style: decimal;
    }

    .rn_Highlight {
        font-weight: bold;
        font-style: normal;
    }

    .rn_RecordInfo {
        color: darken($light-gray, 50%);
        padding-bottom: 1em;
        margin-bottom: .5em;
    }

    .rn_PrimaryQuestionContent {
        padding-bottom: 1em;
    }

    .rn_SecondaryQuestionContent {
        padding-bottom: 1em;
        border-bottom: $dashed-border;
    }

    .rn_DetailTools {
        @include clearfix;
        padding: .5em 0;
        border-bottom: $dashed-border;
        text-align: right;

        > div,
        > span {
            display: inline-block;
            margin-left: 1em;

            @include media($rn-medium) {
                display: block;
            }
        }
    }

    .rn_DetailTools .rn_Links {
        float: right;
        margin-left: initial;

        > div,
        > span {
            float: left;
            margin-left: 1em;
        }
    }

    .rn_AnswerText, .rn_AnswerQuestion {
        blockquote {
            border: 0;
            padding-left: 1em;
        }
    }

    .rn_AnswerQuestion {
        table {
            width: auto;
            margin: 0;
            border-spacing: .5em;
            border-collapse: separate;
        }

        table td {
            border: 0;
            padding: 0;
        }
    }
}

.rn_HideInPrint {
    @media print {
        display: none;
    }
}

.rn_ContentDetail {
    @include span-columns(9);
    @include media($rn-medium) {
        @include span-columns(12);
        @include omega;
        margin-top: 0;
    }

    /* Prevent div from collapsing when there is no content */
    &:after {
        content: '\A0';
    }

    .rn_RecordDetail {
        padding-bottom: .5em;
    }
}

.rn_Product {
    padding: 0;

    &.rn_Hero .rn_HeroInner {
        padding: 1em 0;

        .rn_ProductCategoryBreadcrumb li {
            background: none;

            a {
                color: $light-gray;
            }

            &:after {
                border-left-color: $hero-background;
            }
        }

        .rn_ProductHero {
            @include span-columns(8);

            h1 {
                margin: .5em 0;
            }
        }

        .rn_ProductSubscription {
            @include span-columns(4);

            margin-top: 13em;

            .rn_DiscussionSubscriptionIcon {
                a {
                    color: #fff;
                }
            }
        }
    }

    .rn_DiscussionSubscriptionIcon {
        text-align: right;
    }
}

.rn_IncidentDetail {
    h2 {
        @extend %heading;
    }

    > div,
    > form {
        margin-bottom: 2em;
    }
}
