.rn_SearchControls {
    form {
        @include row;
    }

    .rn_SearchFilters {
        @include row;
        margin-top: 1em;
    }
}

.rn_ResultList,
.rn_QuestionList,
.rn_KBAnswerList {
    @include span-columns(9);

    @include media($rn-medium) {
        @include span-columns(12);
    }

    > div {
        @include row;
        margin-bottom: 1em;
    }

    .rn_Results,
    .rn_SourceResultDetails {
        @include fill-parent;
        text-align: right;
    }
}

.rn_SideRail {
    @include span-columns(3);
    @include media($rn-medium) {
        @include span-columns(12);
    }
}

.rn_KBAnswerList .rn_Multiline .rn_Content .rn_Element1 {
    display: inline-block;
}
