.rn_AnswerField {
    display: inline;
}
.rn_AnswerField .rn_SchemaAttribute {
    margin-bottom: 5px;
    font-weight: bold;
}
.rn_AnswerField .rn_SchemaAttributeValue {
    margin-bottom: 30px;
}
.rn_AnswerField .rn_SchemaAttribute  input{
    margin-right: 5px;
    vertical-align: middle;
    float: left;
}
.rn_AnswerField section {
    display: inline-block;
    padding: 3px;
    width: 48%;
    word-wrap: break-word;
}
.rn_AttributeCheckboxLabel{
    display: inline;
    line-height: 2em;
}
.rn_AnswerField .rn_SchemaAttribute .rn_AttributeCheckbox{
    display: inline;
    width: 10%;
}
.rn_SchemaAttributeValue li {
    list-style: disc;
}