.rn_ChatHours .rn_HoursBlock {
    margin: 15px 0 0 0;
}
.rn_ChatHours .rn_CurrentTime {
    display:block;
}
.rn_ChatHours .rn_HoursLabel {
    color:#404040;
    font-size:1em;
    font-weight:bold;
    line-height:1.3em;
}