.rn_EmailCredentials label{
    font-weight:bold;
}
.rn_EmailCredentials label,
.rn_EmailCredentials input{
    display:block;
}
.rn_EmailCredentials .rn_LoadingIndicator{
    background-image:url(../images/indicator.gif);
    background-repeat:no-repeat;
    background-position:left center;
    min-height:16px;
    min-width:16px;
}
.rn_EmailCredentials input[type="text"]{
    margin:10px auto;
}
