.rn_FieldDisplay .rn_DataLabel  {
     float:left;
     font-weight:bold;
}
.rn_FieldDisplay .rn_DataValue  {
     margin-left:180px;
     word-wrap:break-word;
}
.rn_FieldDisplay .rn_DataValue.rn_LeftJustify {
     clear:left;
     margin-left:0;
     padding-bottom:.5em;
}

