.rn_MobileAnswerFeedback {
    padding-bottom:10px;
}
.rn_MobileAnswerFeedback .rn_Title{
    background:#E1E1E1;
    background: -moz-linear-gradient(top, #FEFEFE, #E0E0E0);
    background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#FEFEFE), to(#E0E0E0));
    border-top:1px solid #BBB;
    border-bottom:1px solid #555;
    color:#2F2F2F;
    font-size:1.167em;
    font-weight:bold;
    line-height:1.3em;
    margin-bottom:20px;
    padding:10px 20px 13px 10px;
    text-shadow:1px 2px 1px #FFF;
}
.rn_MobileAnswerFeedback button {
    width:80%;
    margin:0 auto 10px;
}
.rn_MobileAnswerFeedback .rn_ThanksLabel {
    font-size:larger;
    margin-left:.5em;
}
.rn_MobileAnswerFeedback .rn_ThanksLabel a{
    display:block;
    padding:1em .5em;
    text-shadow:1px 1px 3px rgba(0, 0, 0, 0.3);
}
.rn_MobileAnswerFeedbackForm .rn_DialogPrompt {
    margin-bottom:6px;
    text-align:center;
}
.rn_MobileAnswerFeedback.rn_PanelContent button {
    width:100%;
}
.rn_MobileAnswerFeedbackForm input,
.rn_MobileAnswerFeedbackForm textarea {
    margin-bottom:1em;
}
