.rn_Polling .rn_PollTitle {
  text-decoration: underline; }

.rn_Polling .rn_PollQuestion {
  margin: 0;
  padding: 0;
  visibility: inherit;
  font-size: 1em;
  display: inline;
  zoom: 1; }

.rn_Polling .rn_PollQuestion span {
  white-space: normal;
  display: block;
  zoom: 1; }

.rn_Polling .rn_PollFieldset {
  margin: 0;
  padding: 0;
  border: 0; }

.rn_Polling .rn_ViewResultsLink {
  margin: 0 50px 0 0;
  float: left; }

.rn_Polling .rn_PollSubmit {
  float: left;
  margin: 5px 0; }

.rn_Polling .rn_SimpleChartBar {
  background-color: #1B35E0; }
