.rn_SearchButton {
    display:inline;
    bottom: 0;
}
.rn_SearchButton input {
    border:none;
    vertical-align:top;
}
.rn_SearchButton .rn_SubmitButton {
    background-color:#0E53A7;
    color:#FFF;
    cursor:pointer;
    font-weight:bold;
}
