@import 'widget-includes';

.rn_CapabilityDetector .MessageContainer {
    font-size: 1.5em;
    line-height: 1em;
    padding: 10px;
    text-align: center;
    border-style: solid;
    border-width: 2px;

    a {
        text-decoration: underline;
    }
}
