@import 'widget-includes';

.rn_OkcsRecommendContent {
    .rn_RecommendContentButton {
        margin-top: 1em;
    }

    .rn_LabelInput {
        font-weight: bold;
        margin-top: 1em;
    }

    .rn_Fieldset {
        margin-top: 4em;
    }

    .rn_RecommendationHeader {
        background: #536a8b;
        color: #FFF;
        font-weight: normal;
        border-bottom: 1px solid #CCC;
        padding: 7px;
        line-height: 1.4em;
        margin-bottom: 2em;
    }

    section {
        margin-top: 1em;
        
        select {
            margin-bottom: 0;
            width: 100%;
            height: 1.75em;
        }
        
        option {
            cursor: pointer;
            min-height: 1.5em;
        }
    }

    .rn_InputArea {
        margin-bottom: 0 !important;
    }
    
    .rn_ButtonDiv {
        margin: 1em 0;
    }
}
