@import 'widget-includes';

.rn_OkcsRelatedAnswers {

    padding: 2em 0;

    li {
        @include list-kbanswer-icon;
    }
    
    h2 {
        font-size: 1.286em;
        font-weight: normal;
        padding-bottom: 0.25em;
    }
}

@media print {
    .rn_OkcsRelatedAnswers {
        display: none;
    }
}
