@import 'widget-includes';

.rn_SmartAssistantDialogContainer {
    @include span-columns(5);
    min-width: 46em;

    @include media($rn-medium) {
        min-width: 0;
        @include span-columns(12);
    }

    a {
        padding: 10px;
        white-space: nowrap;
    }

    .yui3-widget-ft {
        text-align: center;

        @include media($rn-medium) {
            @include span-columns(12);

            .yui3-button {
                @include span-columns(12);
                margin-left: 0;
                margin-bottom: 8px;
                white-space: normal;
            }
        }
    }
}

.rn_SmartAssistantDialog {
    .rn_Heading {
        font-size: 1.333em;
        font-weight: bold;
        line-height: 1.4em;
    }

    .rn_Answer,
    .rn_Response,
    .rn_List {
        border-radius: 3px;
        background: #F0F0F0 none repeat scroll 0 0;
        border: 1px solid #B0B3B8;
        color: #222;
        margin: 10px 0;
        padding: 10px;
        text-shadow: 0 1px 1px #FFF;

        ul, ol {
            @include clearfix;
            padding-left: 2em;
        }

        ul li {
            list-style: disc;

            li {
                list-style: circle;

                li {
                    list-style: square;
                }
            }
        }

        ol li,
        li ol li,
        li li ol li {
            list-style: decimal;
        }
    }

    .rn_Response {
        max-height: 300px;
        overflow-y: auto;
    }

    a {
        color: #3E3E3E;
        font-weight: normal;
        white-space: normal;
    }

    .rn_List > li {
        font-size: 1.3em;
        margin: 1em .8em 1em 0;
    }

    .rn_Prompt {
        font-size: 1em;
        font-weight: bold;
        line-height: 1.3em;
    }

    .rn_Summary {
        font-size: 1.3em;
        font-weight: bold;
        letter-spacing: -.01em;
        line-height: 1em;
        padding: 7px 0 0;
    }

    .rn_Solution {
        padding: 6px 0 10px;
        max-height: 300px;
        overflow-y: auto;
    }

    .rn_InlineAnswers {
        overflow: scroll;
    }

    .rn_List.rn_InlineAnswers > li {
        border-bottom: 1px solid #FFF;
        list-style: none;
        margin: 0;
        padding: 0;
        position: relative;
    }

    .rn_InlineAnswerLink {
        display: inline-block;
        border-bottom: 1px solid #CCC;
        color: #000;
        padding: 0 4px 6px 0;
        text-decoration: none;
        text-shadow: 0 1px 0 #FFF;
        line-height: 1.5em;
    }

    .rn_ExpandAnswer {
        @include icon($fa-var-caret-right);
    }

    .rn_KBAnswerImage {
        @include icon($fa-var-lightbulb-o) {
            display: inline-block;
            margin-right: 6px;
        }
    }

    .rn_SocialDiscussionImage {
        @include icon($fa-var-comments-o) {
            display: inline-block;
            margin-right: 1px;
            font-size: .9em;
        };
    }

    a.rn_ExpandedAnswer {
        @include linear-gradient(rgba(208, 208, 208, .8), rgba(254, 254, 254, .6));
        @include icon($fa-var-caret-down);
        border-bottom: 1px solid #DDD;
        box-shadow: 0 1px 1px rgba(0, 0, 0, .5);
        opacity: .9;
    }

    .rn_ExpandedAnswerContent {
        background: #FFF;
        border: 0;
        border-radius: 0;
        display: block;
        font-size: .8em;
        margin: 0;
        max-height: 200px;
        overflow-y: auto;
        overflow-x: hidden;
        padding: 2%;
    }

    .rn_AnswerDiscussionSummary {
        display: block;
        margin-bottom: 12px;
        padding-top: 19px;
    }

    .rn_AnswerDiscussionSummary > ol,
    .rn_AnswerSolution > ol,
    .rn_AnswerDiscussionSummary > ul,
    .rn_AnswerSolution > ul {
        margin-bottom: 1em;
    }

    .rn_DiscussionSolution > ul {
        margin-bottom: 1em;
    }

    .rn_Solution_List {
        border-radius: 3px;
        background: #F6F6F6 none repeat scroll 0 0;
        border: 1px solid #B0B3B8;
        color: #222;
        margin: 10px 0;
        padding: 10px;
        text-shadow: 0 1px 1px #FFF;
        overflow: auto;
    }

    .rn_BestAnswerImage {
        @include icon($fa-var-check-circle) {
            color: #4DB84D;
            float: right;
            line-height: 1em;
        }
    }

    .rn_UserAvatarLeft {
        float: left;
        margin-right: 12px;
        line-height: 1.5em;
    }

    .rn_AvatarImage {
        width: 48px;
        height: 48px;
    }

    .rn_OpenDiscussionLinkText a {
        color: #3b6db1;
        float: right;
        font-size: .8em;
        line-height: .1em;
        padding-top: 0;
        padding-bottom: 17px;
    }
}
