@import 'widget-includes';

.rn_SocialContentFlagging {
    display: inline-block;

    .rn_Loading::before {
        display: inline-block;
        font-size: 1.2em;
    }

    .rn_FlagAction.rn_Loading {
        .rn_Flagged, .rn_Unflagged {
            display: none;
        }
    }

    .rn_Flag.rn_Loading {
        &::before {
            top: 0;
        }

        span {
            display: none;
        }
    }

    .rn_Unflagged {
        margin-right: 6px;
    }

    .rn_Flagged {
        @include icon($fa-var-flag) {
            color: #F00;
        }

        &.rn_NotAllowed {
            cursor: not-allowed;
        }
    }

    .rn_Dropdown {
        border: 1px solid darken($light-gray, 10);
        border-radius: 3px;
        margin-top: .4em;
        min-width: 150px;
        overflow: hidden;
        word-wrap: break-word;

        .rn_Unflagged {
            @include icon($fa-var-flag-o);
        }

        ul {
            padding: 0;
        }

        li {
            border: 0;
            list-style: none;
            margin: 0;
            text-align: left;
        }

        a {
            background: #FFF;
            color: #333;
            display: block;
            font-size: 1em;
            padding: 4px;

            &:hover {
                background: #e3f2ff;
            }
        }

        .rn_Selected .rn_Flagged {
            display: block;
        }

        .rn_Flagged,
        .rn_Selected .rn_Unflagged {
            display: none;
        }
    }
}
