.rn_AccountOverview {
    padding: 0;

    h2 {
        padding: 1em 0 0;
    }

    table td {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .rn_SideRail {
        @include span-columns(4);

        legend {
            display: block;
        }

        ul {
            list-style-type: initial;
            margin-left: 1em;
        }

        fieldset {
            padding: 1em;
        }
    }

    .rn_ContentDetail {
        @include span-columns(8);
    }
}
