#rn_ChatDialogHeaderContainer {
    padding: .5em;

    #rn_ChatDialogTitle {
        float: left;
        display: block;
        margin-right: auto;
        font-weight: bold;
    }

    #rn_ChatDialogHeaderButtonContainer {
        float: right;

        button {
            padding: .5em;
        }
    }
}

#rn_InChatButtonContainer {
    overflow: auto;
    float: right;
    padding: 0 .5em 1em;
}

.rn_ChatQueueSearch, #rn_PreChatButtonContainer,
#rn_ChatDialogHeaderContainer {
    @include clearfix;
}

#rn_PreChatButtonContainer {
    padding: .5em 1em;

    .rn_ChatRequestEmailResponseButton button {
        letter-spacing: .8px;
    }

    .rn_ChatCancelButton {
        float: right;
    }
}

// Ensure the Oracle Logo is always visible
#rn_ChatFooter {
    position: relative;
    margin-top: -1em;
    height: 1em;
    bottom: 0;
    left: 0;
    right: 0;
    clear: both;
}

#rn_ChatContainer #rn_ChatDialogHeaderButtonContainer button {
    background: #fff;
    color: #3873c4;
    border-color: transparent;

    &:hover:not(:disabled) {
        border-color: #CCC #555 #555 #CCC;
        background-color: #E0E0E0;
    }
}

