.rn_SocialFilterItem {
    border: 1px solid darken($light-gray, 6);
    background: lighten($light-gray, 9);
    vertical-align: top;

    li {
        margin: 2px;
        clear: both;
    }

    h4 {
        background-color: darken($light-gray, 6);
        border-bottom: 1px solid #CCC;
        padding: 2px;
    }
}

.rn_SocialFilterItem_FieldSet {
    padding: 0;
    border: 0;
    margin: 0;
}

.rn_ModerationOverview {
    h2 {
        margin-bottom: .5em;
    }

    .rn_ModerationAnnouncement {
        border: 1px solid #888;
        padding: 4px;
    }

    .rn_ModerationAnnouncement,
    .rn_ModerationSummaryTable,
    .rn_ActivityCharts {
        margin-bottom: 20px;
    }

    .rn_ActivityChartsContainer > div {
        clear: none;
        float: left;
        width: 50%;

        @include media($rn-large) {
            display: block;
            width: 100%;
        }
    }
}

.rn_ModerationDashboard {
    .rn_Results {
        text-align: right;
    }

    .rn_ErrorMessage span {
        font-weight: normal;
    }
}

.rn_QuestionModerationGrid_Container,
.rn_UserModerationGrid_Container,
.rn_CommentModerationGrid_Container {
    @include clearfix;
}

.rn_ModerationFilterDialog.rn_ModerationFilterDialogSocialUser {
    @include span-columns(4);

    @include media($rn-medium) {
        @include span-columns(10);
    }

    .rn_Dialog .rn_SocialFilter .rn_SocialDialogFilterItem {
        @include fill-parent;
    }
}
