.rn_UserDetail {
	bottom: 440px;
	left: 192px;

	h1 {
		text-overflow: ellipsis;
		overflow: hidden;
		width: 23em; 
	}
}

.rn_DisplayNameInput {
	margin-top: 140px;
}

.rn_PublicProfileUpdateAvatarDisplay {
	float: left;
}