.rn_ProdCatNotificationManager {
  background: #F2FAFD;
  border: 1px solid #DDD;
  margin: 10px 0 20px;
  padding: 10px 4px 8px; }
  .rn_ProdCatNotificationManager .rn_Loading:before {
    font-family: 'FontAwesome';
    line-height: 1em;
    margin-right: 6px;
    content: "\f110";
    -webkit-animation: fa-spin 2s infinite linear;
    -moz-animation: fa-spin 2s infinite linear;
    animation: fa-spin 2s infinite linear;
    display: block;
    font-size: 2.5em;
    position: relative;
    text-align: center; }
  .rn_ProdCatNotificationManager .rn_Notification {
    margin: 0 auto; }
  .rn_ProdCatNotificationManager .rn_Notification_Info {
    border-bottom: 1px solid #DDD;
    color: #6F6F6F;
    padding: 0 4px 10px 0; }
  .rn_ProdCatNotificationManager .rn_Notification_Actions button {
    float: left;
    margin-top: 4px;
    margin-right: 8px; }
  .rn_ProdCatNotificationManager .rn_ButtonGroup {
    text-align: center; }
  .rn_ProdCatNotificationManager .rn_AddButton {
    display: inline-block;
    margin: 10px auto; }

/**dialog */
.rn_ProdCatNotificationManager_Dialog {
  overflow: auto;
  width: 335px; }
  .rn_ProdCatNotificationManager_Dialog .rn_SelectionWidget {
    float: left;
    margin: 0 4px;
    width: 97%; }
    .rn_ProdCatNotificationManager_Dialog .rn_SelectionWidget button.rn_DisplayButton {
      margin: 5px 0;
      min-width: 0;
      width: 100%; }
