.rn_FieldDisplay .rn_DataLabel  {
     float:left;
     font-weight:bold;
     padding-right: 5px;
}
.rn_FieldDisplay .rn_DataValue.rn_LeftJustify {
     clear:left;
     margin-left:0;
     padding-bottom:5px;
}
