.rn_IncidentThreadDisplay .rn_ThreadHeader  {
    background-color:#EEE;
    border: 1px solid #CCC;
    font-weight:bold;
    padding:1px;
    position:relative;
}
.rn_IncidentThreadDisplay .rn_ThreadHeader .rn_ThreadTime  {
    display:block;
}
.rn_IncidentThreadDisplay .rn_ThreadContent {
    background-color:#FFF;
    padding:10px;
}