.rn_ProductCategoryDisplay .rn_DataLabel {
     float:left;
     font-weight:bold;
}
.rn_ProductCategoryDisplay .rn_DataValue {
     margin-left:50px;
}
.rn_ProductCategoryDisplay .rn_DataValue ul {
     clear:none;
     margin:0;
}
.rn_ProductCategoryDisplay .rn_DataValue.rn_LeftJustify {
     clear:left;
     margin-left:0;
     padding-bottom:1%;
}