<span id="<%= spanID %>" class="rn_Answer rn_AnswerDetail rn_Hidden">
    <% if(question) { %>
        <span class="rn_AnswerSummary"><%= question %></span>
    <% } %>
    <span class="rn_AnswerSolution"><%= contents %></span>
</span>