/**
 * base.css: Base CSS for cart widget
 */
.rn_cart {

}
.rn_cart_don_linkbutton
{
	float:right;
	margin-right:14px;
	margin-top:15px;
	cursor: pointer;
}
.rn_cart_onetime{
	display:inline-block;
	padding-top:5px;
	padding-left:10px;
}
.rn_cart_monthly
{
	display:inline-block;
	padding-top:5px;
	padding-left:10px; 
	padding-right:12px; 
}  
.rn_txtfield_box {
		margin-bottom: 7px;
	}
.rn_cart_addDonationDiv{
	float: right;
	width: 60%;
	padding: 15px;
	padding-bottom: 80px;
	
}
.rn_cart_ImageAddDonation
{
	width:130px;
	padding-left:35px;
}
.rn_cart_itemIDTag {
		font-weight: normal;
		padding-top: 10px;
		padding-bottom: 16px;
		display: inline-block;
		width: 138px;
		display:none;
	}
	.rn_cartCarousel
	{
	 display:inline-block;
	 /*margin-bottom:20px;*/ 
	 float: left; 
	 padding: 16px;
	 border-right: 2px solid #eee;	
	}
	.rn_cart_itemnameTitle {
		font-weight: normal;
		padding-top: 10px;
		padding-bottom: 16px;
		display: inline-block;
		width: 138px;
	}
	.rn_cartDonationDescription
	{
		padding-top:20px;
	}
	.rn_cartDonationDescriptionTitle
	{
		width:200px; 
		font-family:GothamMedium;
		color:#911A1D;
		
	}
	.rn_cart_descriptioncontainer
	{
		padding-right:30px;
		padding-top:30px;	
	}
    .rn_cart_itemname1 {
		font-weight: normal;
		/*padding-top: 10px;*/
		padding-bottom: 0px;
		display: inline-block;
		width: 200px;
		color:#911A1D;
		font-size:14px;
		font-weight:bold;
		margin-bottom:0px;
	}
	.rn_cartcheckoutdiv_left {
		/*font-weight: bold;*/
		width: 100px;
		float: left;
		/*display: inline-block;*/
		display:none;
		/*float:left;*/
		padding-right:85px;
	}
	.rn_cartcheckoutdiv_leftShow {
		/*font-weight: bold;*/
		/*width: 100px;*/
		float:left ;
		/*display: inline-block;*/
		display:block;
		/*float:left;*/
		padding-right:85px;
	}
	.rn_cartcheckoutdiv_rightShow {
		display:block;
		/*float:left;*/
		padding-right:85px;
	}
	.rn_cartcheckoutdiv_right {
		/*font-weight: bold;*/
		width: 100px;
		float: right;
		/*display: inline-block;*/
		display:none;
		/*float:left;*/
		/*padding-right:85px;*/
	}
    .rn_cartcheckoutdiv_left_lnkOneTime
	{
		color:rgb(145, 26, 29);
		display:none;
	}	
	.rn_cart_Total_Format
	{
		color:#911A1D; 
		font-size:16px;
		font-weight:bold;
		margin-bottom:20px; 
	}
	.rn_cartTotalSpanLine
	{
		border-top:2px solid black;
		padding-top:10px;		
	}
	.rn_cartPayNow{
		cursor:pointer;
		
	}
	.rn_cartImgpaynow{
		width:135px;
	}
	.rn_cartShowDiv{
		display:block;
	}
	.rn_cartHideDiv{
		display:none;
	}
	.rn_cartCheckoutdiv
	{
		padding-left:20px;
	}
/* .txtfield_box input {
		float: right;
	}
	.txtfield_box a {
		float: right;
	}
	.txtfield_box p {
		padding-top: 2px;
		display: inline-block;
	}
	.txtfield_box {
		margin-bottom: 7px;
	}
	.donate-carousel {
		display: inline-block;
		padding-top: 20px;
		border-top: 2px dotted #eee;
	}
	.itemname {
		font-weight: normal;
		padding-top: 10px;
		padding-bottom: 16px;
		display: inline-block;
		width: 138px;
	}
	.itemname1 {
		font-weight: normal;
		padding-top: 10px;
		padding-bottom: 16px;
		display: inline-block;
		width: 138px;
	}
	.onetime {
		text-decoration: none;
		font-weight: normal;
		display: inline-block;
		padding-bottom: 5px;
	}
	.monthly {
		padding-top: 15px;
		text-decoration: none;
		font-weight: normal;
		display: inline-block;
		padding-bottom: 5px;
	}
	.itemname2 {
		color: rgb(145, 26, 29);
		font-weight: normal;
		font-size: 14px;
	}
	.checkoutdiv {
		padding: 5%;
		margin-bottom: 20px;
		display: inline-block;
		width: 90%;
	}
	.checkoutdiv_left {
		font-weight: bold;
		width: 50%;
		float: left;
		display: inline-block;
	}
	.checkoutdiv_right {
		font-weight: bold;
		width: 48%;
		float: right;
		display: inline-block;
	}
	.checkoutdiv_left_lnk {
		display: block;
		font-weight: normal;
		font-size: 10px;
		color: rgb(145, 26, 29);
		text-decoration: none;
	}
	.checkoutdiv_right_lnk {
		display: block;
		font-weight: normal;
		font-size: 10px;
		color: rgb(145, 26, 29);
		text-decoration: none;
	}
	input[type="text"] {
		background: transparent url('images/textback2.png') no-repeat;
		border: 1px solid white;
		height: 25px;
		width: 85px;
		padding-left: 5px;
		padding-right: 5px;
	}
	input[type="text"]:focus {
		border: 1px solid white;
		background-color: white;
		background: transparent url('images/textback2.png') no-repeat;
	}
 */
