.rn_ChatQueueSearch{
    background:#EFEFF4 url(../images/layout/whitePixel.png) repeat-x scroll 0 0;
    border:1px solid #BBBBBB;
    line-height:1.25em;
    margin:1em 1em 1em 1em;
    padding:5px;
    text-align:center;
}
