.rn_EmailCredentials2 label{
    font-weight:bold;
}
.rn_EmailCredentials2 label,
.rn_EmailCredentials2 input{
    display:block;
}
.rn_EmailCredentials2 .rn_LoadingIndicator{
    background-image:url(../images/indicator.gif);
    background-repeat:no-repeat;
    background-position:left center;
    min-height:16px;
    min-width:16px;
}
.rn_EmailCredentials2 input[type="text"]{
    padding:2px;
    margin:2px 0px;
    width:250px;
}
