.rn_OkcsManageRecommendations .yui3-datatable-table th, .rn_OkcsManageRecommendations .yui3-datatable-table th a, .rn_OkcsManageRecommendations .yui3-datatable-table th a:hover {
  color: #000;
  font-weight: normal;
  text-decoration: none;
  vertical-align: bottom;
  min-width: 110px; }

.rn_OkcsManageRecommendations table th, .rn_OkcsManageRecommendations table td {
  max-width: 300px !important;
  overflow: hidden;
  text-overflow: ellipsis; }
.rn_OkcsManageRecommendations .yui3-datatable-table {
  border: 1px solid #888;
  border-spacing: 0;
  border-collapse: separate; }
  .rn_OkcsManageRecommendations .yui3-datatable-table th {
    padding: 10px; }
  .rn_OkcsManageRecommendations .yui3-datatable-table td {
    padding: 10px; }
.rn_OkcsManageRecommendations .yui3-datatable-sortable-column, .rn_OkcsManageRecommendations .rn_sort {
  cursor: pointer; }
.rn_OkcsManageRecommendations .yui3-datatable-even .yui3-datatable-cell {
  background-color: #FFF; }
.rn_OkcsManageRecommendations .yui3-datatable-odd .yui3-datatable-cell {
  background-color: #F7F7F7; }
.rn_OkcsManageRecommendations .yui3-datatable-sort-liner {
  position: relative; }
.rn_OkcsManageRecommendations .yui3-datatable-sort-indicator {
  padding-left: 8px; }
  .rn_OkcsManageRecommendations .yui3-datatable-sort-indicator:before {
    font-family: 'FontAwesome';
    margin-right: 6px;
    content: "\f0dc"; }
.rn_OkcsManageRecommendations .yui3-datatable-sorted .yui3-datatable-sort-indicator:before {
  font-family: 'FontAwesome';
  margin-right: 6px;
  content: "\f0de"; }
.rn_OkcsManageRecommendations .yui3-datatable-sorted-desc .yui3-datatable-sort-indicator:before {
  font-family: 'FontAwesome';
  margin-right: 6px;
  content: "\f0dd"; }
.rn_OkcsManageRecommendations .rn_NoNotification {
  background: #F2FAFD;
  border: 1px solid #DDD;
  margin: 10px 0 20px;
  padding: 10px 4px 8px; }
.rn_OkcsManageRecommendations .rn_NotificationList {
  background: #F2FAFD;
  border: 1px solid #DDD;
  margin: 10px 0 20px;
  padding: 10px 4px 8px; }
.rn_OkcsManageRecommendations .rn_Notification {
  margin: 0 auto; }
.rn_OkcsManageRecommendations .rn_Notification_Info {
  border-bottom: 1px solid #DDD;
  color: #6F6F6F;
  padding: 0 4px 10px 0; }
.rn_OkcsManageRecommendations .rn_Notification_Actions button {
  float: left;
  margin-top: 4px;
  margin-right: 8px; }

.rn_RecommendationsField .rn_Info {
  width: 30%;
  display: inline-block;
  margin-top: 10px;
  font-weight: bold; }

.rn_RecommendationContent {
  max-height: 250px;
  overflow-x: auto;
  display: block; }

.rn_RecommendationsSortAsc {
  padding: 4px;
  font-family: 'FontAwesome';
  font-size: 15px; }
  .rn_RecommendationsSortAsc:after {
    font-family: 'FontAwesome';
    margin-left: 6px;
    content: "\f0d8"; }

.rn_RecommendationsSortDesc {
  padding: 4px;
  font-family: 'FontAwesome';
  font-size: 16px; }
  .rn_RecommendationsSortDesc:after {
    font-family: 'FontAwesome';
    margin-left: 6px;
    content: "\f0d7"; }
