/**
 * base.css: Base CSS for managepaymethods
 */

.rn_managepaymethods {}

#newPaymentForm {
    height: fit-content;
    width: fit-content;
}

#newPaymentForm .row {
    display: -ms-flexbox;
    /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap;
    /* IE10 */
    flex-wrap: wrap;
    margin: 0 -16px;
}

#newPaymentForm .col-25 {
    -ms-flex: 25%;
    /* IE10 */
    flex: 25%;
}

#newPaymentForm .col-50 {
    -ms-flex: 50%;
    /* IE10 */
    flex: 50%;
}

#newPaymentForm .col-75 {
    -ms-flex: 75%;
    /* IE10 */
    flex: 75%;
}

#newPaymentForm .col-25,
#newPaymentForm .col-50,
#newPaymentForm .col-75 {
    padding: 0 16px;
}

#newPaymentForm input[type=text] {
    width: 100%;
    margin-bottom: 20px;
    padding: 0.75em;
    border: 1px solid #ccc;
    border-radius: 3px;
    height: fit-content;
    min-width: 20em;
}

#newPaymentForm select {
    width: 100%;
    margin-bottom: 10px;
    padding: 0.75em;
    border: 1px solid #ccc;
    border-radius: 3px;
    min-width: 20em;
}

#newPaymentForm #paymenttype {
    min-width: 40em;
}

#newPaymentForm label {
    margin-bottom: 0;
    display: block;
}

#newPaymentForm .icon-container {
    margin-bottom: 10px;
    padding: 7px 0;
    font-size: 24px;
}

#newPaymentForm .required {
    color: red;
    font-weight: bold;
}

#paymentMethodError {
    padding-top: 0.5em;
    font-family: GothamBook, Arial;
    color: red;
}

#newPaymentLink {
    font-size: 1.4em;
}

#newPaymentLink img {
    height: 30px;
}

#newPaymentLink span {
    vertical-align: super;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (and change the direction - make the "cart" column go on top) */

@media (max-width: 800px) {
    #newPaymentForm {
        width: 100%;
    }

    #newPaymentForm * {
        width: 100%;
    }

    #newPaymentForm .row {
        flex-direction: column-reverse;
    }

    #newPaymentForm .col-25 {
        margin-bottom: 20px;
    }
}