<rn:block id="itemContent">
	<div class="rn_GiftPopupGalleryItemImageContainer">
		<img class="rn_GiftPopupGalleryItemImage" src="<%= data.photoURL %>" />
	</div>
	<div class="rn_GiftPopupGalleryItemTitleContainer">
		<span class="rn_GiftPopupGalleryItemTitle"><%= data.title %></span>
	</div>
</rn:block>