.rn_ProductCategorySearchFilter button.rn_DisplayButton {
    color:#000;
    cursor:pointer;
    font-weight:normal;
    overflow:hidden;
    text-overflow:ellipsis;
    border-radius:0;
    box-shadow:none;
    z-index:0 !important;
}
/* make the text label font relative*/
.rn_ProductCategorySearchFilter .ygtvlabel,
.rn_ProductCategorySearchFilter .ygtvlabel:link,
.rn_ProductCategorySearchFilter .ygtvlabel:visited,
.rn_ProductCategorySearchFilter .ygtvlabel:hover {
    font-size:inherit;
}
.rn_ProductCategorySearchFilter .rn_PanelContainer .yui3-widget-hd {
    display: none;
}
