.rn_ResultInfo {
    overflow:hidden;
    width:100%;
}
.rn_ResultInfo .rn_Suggestion,
.rn_ResultInfo .rn_Spell {
    float:left;
}
.rn_ResultInfo .rn_NoResults {
    clear:both;
}
.rn_ResultInfo .rn_NoResults ul{
    padding-left:2em;
}
.rn_ResultInfo .rn_NoResults ul li{
    list-style:disc;
    margin:4px;
}
.rn_ResultInfo .rn_Results .rn_Strike {
    font-weight: normal;
    text-decoration: line-through;
}
