.rn_AnswerList .yui3-datatable-table{
    border:1px solid #CCC;
    border-spacing: 0;
    border-collapse: separate;
}

.rn_AnswerList .yui3-datatable-table th, 
.rn_AnswerList .yui3-datatable-table td {
    padding:10px;
}

.rn_AnswerList .yui3-datatable-table th,
.rn_AnswerList .yui3-datatable-table th a, 
.rn_AnswerList .yui3-datatable-table th a:hover {
    color:#000;
    font-weight:normal;
    text-decoration:none;
    vertical-align:bottom;
    min-width: 110px;
}

.rn_AnswerList .yui3-datatable-sortable-column {
    cursor:pointer;
}
