.rn_IntentResult {
    padding: 0.75em;
    color: #000;
    border-radius: 0.3em;
    border: 0.5em solid #40526b;
}

.rn_IntentResult .rn_SearchResultIcon:before {
    display: none;
}

.rn_SearchResult .rn_SearchResultContent .rn_IntentResult a {
    color: #000;
    font-weight: bold;
}

.rn_IntentResult.rn_ResultElement .rn_Element1 {
    padding-left: unset;
}

.rn_SearchResult .rn_SearchResultIcon.rn_File_intent {
    width: unset;
    display: none;
}