<rn:block id="preResultList"/>
<%= label_also %>
<ul>
<rn:block id="topResultList"/>
<% for (var i = 0; i < length; i++) { %>
    <rn:block id="resultListItem">
    <li>
      <a href="javascript:void(0);"><%= records[i].repr %></a>
    </li>
    </rn:block>
<% } %>
<rn:block id="bottomResultList"/>
</ul>
<rn:block id="postResultList"/>
