<div class="rn_Mask">
    <div role="status">
        <rn:block id="beforeRefreshMessage"/>
        <%= labels.label_dynamic_notice %>
        <a href="javascript:void(0);" class="rn_Refresh">
            <span><%= labels.label_refresh %></span>
        </a>
        <rn:block id="afterRefreshMessage"/>
    </div>
</div>
