<% for (var i = 1; i <= numberOfPages; i++) { %>
<rn:block id="prePageLink"/>
<li>
    <a data-rel="<%= i %>" class="rn_Page <%= (i === currentPage) ? 'rn_CurrentPage' : '' %>" href="<%= pageLink(i) %>">
        <%= i %>
    </a>
</li>
<rn:block id="postPageLink"/>
<% } %>
