<% if (displayUserRating) { %>
<rn:block id="preCommentUserRating"/>
<span class='rn_UserRating <%= userClassRating %>'><%= userRatingLabel %></span>
<rn:block id="postCommentUserRating"/>
<% } %>
<% if (displayPositiveRating) { %>
<rn:block id="preCommentPositiveRating"/>
<span class='rn_PositiveRating'><%= positiveRatingLabel %></span>
<rn:block id="postCommentPositiveRating"/>
<% } %>
<% if (displayNegativeRating) { %>
<rn:block id="preCommentNegativeRating"/>
<span class='rn_NegativeRating'><%= negativeRatingLabel %></span>
<rn:block id="postCommentNegativeRating"/>
<% } %>
