@import 'widget-includes';

.rn_AnswerList {
    @include outer-container;

    .yui3-datatable-table {
        @include fill-parent();
        @include row(table);
        border: 1px solid #CCC;
        margin: 0;

        thead {
            th {
                @include span-columns(6);
                color: $hero-color;
            }
        }
    }

    .yui3-datatable-caption {
        @include fill-parent();
        background: lighten($hero-background, 10%);
        color: $hero-color;
        font-size: $base-font-size * 1.2;
        text-align: center;
        border: 1px solid #CCC;
        font-weight: normal;
        line-height: 1.4em;
        padding: 4px;

        h2 {
            font-family: "Lucida Sans Unicode","Lucida Grande",Garuda,sans-serif;
            font-weight: normal;
            padding: 4px;
        }
    }

    .yui3-datatable-cell, .yui3-datatable-header {
        @include span-columns(6);
        @include pad();
        border-left: 1px solid #CCC;
        border-width: 0 0 0 1px;
        font-size: inherit;
        margin: 0;
        overflow: visible;
        padding: 7px;
    }

    .yui3-datatable-cell:first-child, .yui3-datatable-first-header {
        @include span-columns(6);
        @include pad();
        border-left-width: 0;
    }

    .yui3-datatable-header {
        background: lighten($hero-background, 10%);
        color: $hero-color;
        font-size: $base-font-size;
        font-weight: normal;
        border-bottom: 1px solid #CCC;
        padding: 7px !important;
        line-height: 1.4em;
        cursor: pointer;
    }

    .yui3-datatable-cell {
        @include span-columns(6);
        @include pad();
        background-color: transparent;
        a {
            word-wrap: break-word;
        }
    }

    .yui3-datatable-even .yui3-datatable-cell {
        background-color: $hero-color;
    }

    .yui3-datatable-odd .yui3-datatable-cell {
        background-color: #F7F7F7;
    }

    .yui3-datatable-sort-liner {
        display: block;
        height: 100%;
        position: relative;
        padding-right: 15px;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
    }

    .yui3-datatable-sort-indicator {
        position: absolute;
        right: 0;
        bottom: 4px;
        width: 8px;
        height: 10px;
        background: url('#{$theme-images}/tableHeader.png') no-repeat scroll right -88px;
        overflow: hidden;
    }

    .yui3-datatable-sorted .yui3-datatable-sort-indicator {
        background: transparent url('#{$theme-images}/tableHeader.png') no-repeat scroll right -98px;
    }

    .yui3-datatable-sorted-desc .yui3-datatable-sort-indicator {
        background: transparent url('#{$theme-images}/tableHeader.png') no-repeat scroll right -108px;
    }

    .yui3-datatable-message-content {
        border: 0 none;
        border-bottom: 1px solid #CCC;
        padding: 4px 10px;
    }

    .rn_Loading {
        background-image: url('#{$theme-images}/loading.gif');
        background-repeat: no-repeat;
        background-position: center center;
    }

    .rn_List li {
        width: 95%;
        padding: 0;
        clear: none;
    }
}

.rn_ArticlesSortAsc {
    @include icon($fa-var-caret-up, after);
    padding: 4px;
    font-family: 'FontAwesome';
    font-size: 15px;
}

.rn_ArticlesSortDesc {
    @include icon($fa-var-caret-down, after);
    padding: 4px;
    font-family: 'FontAwesome';
    font-size: 16px;
}
