@import 'widget-includes';

.rn_ChatAgentStatus {
    background: #EFEFF4;
    border: solid #BBB;
    border-width: 1px 1px 0;
    padding: 5px;
    line-height: 1.25em;
    margin: 0 1em;
}

@media print {
    .rn_ChatAgentStatus {
        display: none;
    }
}
