@import 'widget-includes';

.rn_ContentType {
    background: linear-gradient(to bottom, #FFF 20%, #F1F1F1 80%) repeat scroll 0 0 transparent;
    margin-left: -16px;
    padding: 12px 10px 6px;
    overflow: hidden;

    li {
        cursor: pointer;
        padding: 10px;
    }

    ul.rn_Horizontal li {
        border-right: 1px solid #BEBEBE;
        float: left;
        display: inline-block;
        padding: 2px 20px;
        margin-bottom: 5px;

        &:last-child {
            border-right: medium none;
        }
    }

    li a {
        color: #000;
        text-decoration: none;
    }

    .rn_Selected {
        font-weight: bold;
    }
}
