@import 'widget-includes';

.rn_FileAttachmentUpload {
    label {
        display: block;
        font-weight: bold;
        margin-bottom: 2px;
    }

    ul {
        margin: 10px 20px;
    }

    li {
        list-style-type: disc;
        margin: 6px 0;
    }

    input[type="file"] {
        width: auto;
    }
}
