@import 'widget-includes';

.rn_FormSubmit {
    button {
        position: relative;
    }

    .rn_Loading {
        padding-left: 1.8em;

        @include loading-icon(1em) {
            left: .6em;
            position: absolute;
        }
    }
}
