@import 'widget-includes';

.rn_ForumList {
    table {
        border: 1px solid #888;
        border-spacing: 0;
        border-collapse: separate;
        table-layout: auto;

        td:first-child, th {
            background-color: lighten($light-gray, 9);
        }

        th, td {
            border-right: 1px solid #DDD;
            padding: 4px 10px 4px 6px;
            max-width: 350px;

            p {
                font-size: small;
                font-weight: normal;
                font-style: italic;
            }
        }
    }
}
