@import 'widget-includes';

.rn_OkcsTranslatedAnswerSelector {

    float: right;
    display: inline-block;

    .rn_SubNavigationParent {
        outline: none;
    }

    .rn_DropdownButton {
        display: inline-block;
        position: relative;
    }

    .rn_DropdownButtonLabel {
        display: inline-block;
    }

    .rn_DropdownButtonLabel {
        vertical-align: top;
    }

    .rn_DropdownTrigger {
        color: #111;
    }

    button.rn_DisplayButton {
        border: 1px solid #999;
        font-weight: normal;
        min-height: 1.5em;
        padding: 4px 20px 4px 4px;
        position: relative;
        text-align: left;
        text-shadow: none;
        border-radius: 0;
        box-shadow: none;
        background: #FFF;
        color: #111;
        width: 100%;

        @include caret(down, after) {
            position: absolute;
            right: 5px;
        }

        &:hover, &:focus{
            box-shadow: none;
            background: $light-gray;
        }
    }

    .rn_SubNavigation {
        background: #FFF;
        border: 1px solid #999;
        border-radius: $base-border-radius;
        box-shadow: 0 8px 20px rgba(0, 0, 0, .1);
        opacity: 1;
        visibility: visible;
        position: absolute;
        padding: 0;
        width: 100%;

        &.rn_ScreenReaderOnly {
            opacity: 0;
            visibility: hidden;
        }

        li {
            list-style: none;
            border-bottom: 1px solid lighten($light-gray, 8%);
            margin: 0;
        }

        .rn_NavigationItem {
            line-height: unset;
            display: inline-block;
            padding-left: 4px;
            white-space: nowrap;
            width: 100%;
            color: #111;
            cursor: pointer;
        }

        .rn_NavigationItem.rn_SelectedLink{
            background: #3873c4;
            color: #FFF;
        }
    }

    .rn_SubNavigationHidden {
        visibility: hidden;
        margin: 0;
        padding: 0 0 0 1em;
        height:0;
    }

    .rn_SubNavigationHidden li {
        line-height: 0;
        height: 0;
        margin: 0;
    }

    .rn_Disabled {
        opacity: 0.6;
        pointer-events: none;
    }
}
