@import 'widget-includes';

.rn_RecentlyActiveUsers {
    .rn_RecentUsersGrid {
        font-size: 0;
        line-height: normal;
        
        .rn_UserAvatar {
            display: inline-block;
            
            a {
                padding : 0;
                
                span, img {
                    vertical-align: bottom;
                    font-size: 16px;
                }
            }
        }
    }
    .rn_RecentUsersList {
        .rn_RecentUsers {
            .rn_RecentUserAvatar {
                display: inline-block;
                width: 20%;
            }
            .rn_RecentUserDetails {
                display: inline-block;
                vertical-align: top;
                width: 78%;
                padding-top: 5px;
                padding-bottom: 5px;
                
                span {
                    display: block;
                    line-height: 1.5em;
                    font-size: 0.8em;
                    
                    a {
                        font-size: medium;
                    }
                }
            }
        }
    }
}
