@import 'widget-includes';

.rn_RelatedKnowledgeAdvanceAnswers {
    ul {
        padding-top: 0;
    }

    h2 {
        font-size: $base-font-size * 1.1;
    }
    
    .rn_RelatedKnowledgeAdvanceAnswersItem {
        margin-bottom: 0;
        @include list-kbanswer-icon;

        .rn_Title {
            font-size: 1em;
        }
    }
}