@import 'widget-includes';

.rn_SearchSuggestions {
    background-color: #FAFAFA;
    border: 1px solid #DEDEDE;
    margin: 8px 0 20px;
    padding: 6px;
}

.rn_SearchSuggestions .rn_Title {
    color: #2F2F2F;
    font-size: 1.167em;
    line-height: 1.3em;
    font-weight: bold;
}
