@import 'widget-includes';

.rn_SocialFileAttachmentUpload {
    li img {
        vertical-align: middle;
        width: 4em;
        height: 4em;
        margin-right: 0.4em;
        border: 2px solid #fff;
    }
}