@import 'widget-includes';

.rn_VirtualAssistantFeedback {
    margin: 0 1.2em;
}

.rn_VirtualAssistantFeedback .rn_Title {
    font-size: 1em;
    font-weight: bold;
    line-height: 1.4em;
}

.rn_VirtualAssistantFeedback .rn_RatingMeter a.rn_RatingCell {
    background: url('#{$theme-images}/RatingStars.png') 0 0 no-repeat;
    display: inline-block;
    height: 18px;
    margin: 4px 0;
    text-decoration: none;
    width: 20px;
    position: relative;
}

.rn_HighContrastMode .rn_VirtualAssistantFeedback .rn_RatingMeter a.rn_RatingCell:before {
    content: "\2606";
}

.rn_VirtualAssistantFeedback .rn_RatingMeter a.rn_RatingCellOver {
    background-position: 0 -18px;
    cursor: pointer;
}

.rn_HighContrastMode .rn_VirtualAssistantFeedback .rn_RatingMeter a.rn_RatingCellOver:before {
    content: "\2605";
}

.rn_VirtualAssistantFeedback .rn_ThanksLabel {
    position: relative;
    left: 65px;
}

.rn_VirtualAssistantFeedback *:focus {
    outline: 0;
}
