.rn_UserActivity {
  margin-bottom: 1.5em; }
  .rn_UserActivity h2 {
    font-size: 1.75em;
    margin-bottom: 1em; }
  .rn_UserActivity .rn_ActionLabel {
    position: relative;
    left: -3.25em; }
    .rn_UserActivity .rn_ActionLabel::before {
      border-radius: 50%;
      padding: 10px;
      font-size: 20px;
      background: #DDD;
      border: 1px solid #dadada; }
  .rn_UserActivity .rn_Comment .rn_ActionLabel:before {
    font-family: 'FontAwesome';
    margin-right: 6px;
    content: "\f075";
    color: #477DCA;
    margin-right: 1.3em; }
  .rn_UserActivity .rn_BestAnswerGivenByUser .rn_ActionLabel:before {
    font-family: 'FontAwesome';
    margin-right: 6px;
    content: "\f05d";
    color: #008000;
    margin-right: 1.3em; }
  .rn_UserActivity .rn_QuestionRatingGivenByUser .rn_ActionLabel:before, .rn_UserActivity .rn_QuestionRatingGivenToUser .rn_ActionLabel:before, .rn_UserActivity .rn_CommentRatingGivenByUser .rn_ActionLabel:before, .rn_UserActivity .rn_CommentRatingGivenToUser .rn_ActionLabel:before {
    font-family: 'FontAwesome';
    margin-right: 6px;
    content: "\f087";
    margin-right: 1.3em; }
  .rn_UserActivity .rn_Question .rn_ActionLabel:before {
    font-family: 'FontAwesome';
    margin-right: 6px;
    content: "\f128";
    padding-left: 0.65em;
    padding-right: 0.65em;
    margin-right: 1.3em; }
  .rn_UserActivity .rn_BestAnswerGivenToUser .rn_ActionLabel:before {
    font-family: 'FontAwesome';
    margin-right: 6px;
    content: "\f091";
    color: #008000;
    margin-right: 1.3em; }
  .rn_UserActivity .rn_Activities .rn_Activity {
    border-left: 6px solid #eaeaea;
    padding: 0 0 1.5em 2.5em; }
  .rn_UserActivity .rn_UserAvatar {
    /* As the 'xlarge' avatar is limited to 102px by the span-columns width,
           make 'large' a little smaller so there's a noticeable difference */ }
    .rn_UserActivity .rn_UserAvatar .rn_Large {
      width: 85px; }
  .rn_UserActivity .rn_Activity .rn_ActivityTitle {
    *zoom: 1;
    display: block;
    margin-bottom: 1em; }
    .rn_UserActivity .rn_Activity .rn_ActivityTitle:before, .rn_UserActivity .rn_Activity .rn_ActivityTitle:after {
      content: " ";
      display: table; }
    .rn_UserActivity .rn_Activity .rn_ActivityTitle:after {
      clear: both; }
    .rn_UserActivity .rn_Activity .rn_ActivityTitle .rn_ActionLabel {
      font-size: 1.2em; }
  .rn_UserActivity .rn_Activity .rn_Time {
    color: #5e5e5e;
    float: right;
    font-size: smaller; }
  .rn_UserActivity .rn_Activity .rn_ActivityContent {
    *zoom: 1;
    display: block;
    clear: both;
    position: relative;
    top: -1em; }
    .rn_UserActivity .rn_Activity .rn_ActivityContent:before, .rn_UserActivity .rn_Activity .rn_ActivityContent:after {
      content: " ";
      display: table; }
    .rn_UserActivity .rn_Activity .rn_ActivityContent:after {
      clear: both; }
    .rn_UserActivity .rn_Activity .rn_ActivityContent .rn_ParentContent {
      *zoom: 1;
      display: block;
      margin-top: 0.5em; }
      .rn_UserActivity .rn_Activity .rn_ActivityContent .rn_ParentContent:before, .rn_UserActivity .rn_Activity .rn_ActivityContent .rn_ParentContent:after {
        content: " ";
        display: table; }
      .rn_UserActivity .rn_Activity .rn_ActivityContent .rn_ParentContent:after {
        clear: both; }
      .rn_UserActivity .rn_Activity .rn_ActivityContent .rn_ParentContent .rn_Info {
        display: inline;
        float: none; }
    .rn_UserActivity .rn_Activity .rn_ActivityContent .rn_ActivityUser {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 14.70196%;
      margin-left: 0;
      margin-right: 1em; }
      .rn_UserActivity .rn_Activity .rn_ActivityContent .rn_ActivityUser:last-child {
        margin-right: 0; }
      .rn_UserActivity .rn_Activity .rn_ActivityContent .rn_ActivityUser.rn_ActivityUserSmall {
        width: 24px; }
      .rn_UserActivity .rn_Activity .rn_ActivityContent .rn_ActivityUser.rn_ActivityUserMedium {
        width: 48px; }
      .rn_UserActivity .rn_Activity .rn_ActivityContent .rn_ActivityUser.rn_ActivityUserLarge {
        width: 96px; }
      .rn_UserActivity .rn_Activity .rn_ActivityContent .rn_ActivityUser.rn_ActivityUserXlarge {
        width: 160px; }
    .rn_UserActivity .rn_Activity .rn_ActivityContent .rn_Info {
      margin-right: 0;
      word-wrap: break-word; }
