<rn:block id="agentStatusChangeResponseTop"/>
<span class="rn_MessagePost">
<% if(attrs.alert_icon_path){ %>
    <rn:block id="preAgentStatusChangeResponseIcon"/>
    <img alt="" src="<%= attrs.alert_icon_path %>"/>
    <rn:block id="postAgentStatusChangeResponseIcon"/>
<% } %> 
<%= message.replace("{display_name}", '<span class="rn_AgentTextPrefix">' + agentName + '</span>') %>
<br/>
</span>
<rn:block id="agentStatusChangeResponseBottom"/>
