.rn_RecentlyViewedContent li.rn_SocialQuestionItem:before {
  font-family: 'FontAwesome';
  margin-right: 6px;
  content: "\f086";
  margin-right: 3px;
  font-size: 1em; }
.rn_RecentlyViewedContent li.rn_AnswerContentItem:before {
  font-family: 'FontAwesome';
  margin-right: 6px;
  content: "\f0eb";
  margin-left: 1px;
  margin-right: 5px;
  font-size: 1.4em; }
.rn_RecentlyViewedContent h2 {
  font-size: 1.1em; }
