.rn_AnswerField {
  display: inline; }
  .rn_AnswerField .rn_SchemaAttribute {
    margin-bottom: 5px;
    font-weight: bold;
    clear: both; }
  .rn_AnswerField .rn_SchemaAttributeValue {
    margin-bottom: 10px; }
    .rn_AnswerField .rn_SchemaAttributeValue ol, .rn_AnswerField .rn_SchemaAttributeValue ul {
      clear: both;
      padding-left: 2em; }
    .rn_AnswerField .rn_SchemaAttributeValue > ol, .rn_AnswerField .rn_SchemaAttributeValue > ul {
      margin-bottom: 1em; }
    .rn_AnswerField .rn_SchemaAttributeValue li {
      line-height: 1.4em;
      margin: 4px 0; }
    .rn_AnswerField .rn_SchemaAttributeValue ul li {
      list-style: disc; }
    .rn_AnswerField .rn_SchemaAttributeValue li ul li {
      list-style: circle; }
    .rn_AnswerField .rn_SchemaAttributeValue li li ul li {
      list-style: square; }
    .rn_AnswerField .rn_SchemaAttributeValue ol li, .rn_AnswerField .rn_SchemaAttributeValue li ol li, .rn_AnswerField .rn_SchemaAttributeValue li li ol li {
      list-style: decimal; }
    .rn_AnswerField .rn_SchemaAttributeValue th, .rn_AnswerField .rn_SchemaAttributeValue td {
      text-align: center; }
  .rn_AnswerField .rn_SchemaAttribute input {
    margin-right: 5px;
    vertical-align: middle; }
  .rn_AnswerField section {
    display: inline-block;
    padding: 3px;
    width: 45%;
    word-wrap: break-word; }

.rn_AnswerField .rn_Info {
  width: 30%;
  display: inline-block;
  margin-top: 10px; }

.rn_AnswerView {
  margin: 0 0.2em; }

.rn_AnswerHeader h1 {
  font-size: 1.7em;
  margin: 15px 0;
  display: inline-block; }

.rn_AnswerInfo {
  color: #666;
  margin: 6px 0 20px; }
