.rn_OkcsLoading {
  background: url("../images/loading.gif") no-repeat fixed center center;
  clear: both;
  height: 100%;
  margin-left: -6px;
  opacity: 0.6;
  position: fixed;
  width: 69em;
  z-index: 500; }
