.rn_RecentlyAskedQuestions {
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .rn_RecentlyAskedQuestions:before, .rn_RecentlyAskedQuestions:after {
    content: " ";
    display: table; }
  .rn_RecentlyAskedQuestions:after {
    clear: both; }
  .rn_RecentlyAskedQuestions .rn_Author {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 6.17215%; }
    .rn_RecentlyAskedQuestions .rn_Author:last-child {
      margin-right: 0; }
    @media screen and (max-width: 720px) {
      .rn_RecentlyAskedQuestions .rn_Author {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 14.70196%; }
        .rn_RecentlyAskedQuestions .rn_Author:last-child {
          margin-right: 0; } }
  .rn_RecentlyAskedQuestions .rn_RecentlyAskedQuestionsItem {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    margin-bottom: 2em; }
    .rn_RecentlyAskedQuestions .rn_RecentlyAskedQuestionsItem:last-child {
      margin-right: 0; }
    @media screen and (max-width: 400px) {
      .rn_RecentlyAskedQuestions .rn_RecentlyAskedQuestionsItem {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%; }
        .rn_RecentlyAskedQuestions .rn_RecentlyAskedQuestionsItem:last-child {
          margin-right: 0; } }
  .rn_RecentlyAskedQuestions .rn_QuestionInfo {
    margin-top: 10px; }
    .rn_RecentlyAskedQuestions .rn_QuestionInfo .rn_AvatarLink {
      visibility: hidden; }
      .rn_RecentlyAskedQuestions .rn_QuestionInfo .rn_AvatarLink:before {
        font-family: 'FontAwesome';
        margin-right: 6px;
        content: "\f059";
        visibility: visible;
        font-size: 1.6em;
        color: #333; }
    .rn_RecentlyAskedQuestions .rn_QuestionInfo .rn_QuestionSubject {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 91.4702%;
      border-radius: 6px;
      padding: 10px;
      background: #f7f7f7;
      border: 1px solid #a1a1a1;
      box-shadow: 0 1px 2px rgba(20, 20, 20, 0.1);
      color: #222;
      padding-bottom: 1em;
      position: relative;
      word-wrap: break-word; }
      .rn_RecentlyAskedQuestions .rn_QuestionInfo .rn_QuestionSubject:last-child {
        margin-right: 0; }
      @media screen and (max-width: 720px) {
        .rn_RecentlyAskedQuestions .rn_QuestionInfo .rn_QuestionSubject {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 82.94039%; }
          .rn_RecentlyAskedQuestions .rn_QuestionInfo .rn_QuestionSubject:last-child {
            margin-right: 0; } }
      .rn_RecentlyAskedQuestions .rn_QuestionInfo .rn_QuestionSubject:before {
        font-family: 'FontAwesome';
        margin-right: 6px; }
      .rn_RecentlyAskedQuestions .rn_QuestionInfo .rn_QuestionSubject:before {
        content: "\f0d9";
        font-size: 1.5em;
        position: absolute;
        left: -8px;
        top: 10px;
        color: #f7f7f7;
        z-index: 1; }
      .rn_RecentlyAskedQuestions .rn_QuestionInfo .rn_QuestionSubject:after {
        font-family: 'FontAwesome';
        margin-left: 6px; }
      .rn_RecentlyAskedQuestions .rn_QuestionInfo .rn_QuestionSubject:after {
        content: "\f0d9";
        font-size: 1.6em;
        position: absolute;
        left: -15px;
        top: 10px;
        color: #a1a1a1; }
      .rn_RecentlyAskedQuestions .rn_QuestionInfo .rn_QuestionSubject .rn_AnswerText {
        word-wrap: break-word; }
      .rn_RecentlyAskedQuestions .rn_QuestionInfo .rn_QuestionSubject .rn_BestAnswerLabel {
        font-weight: bold; }
      .rn_RecentlyAskedQuestions .rn_QuestionInfo .rn_QuestionSubject .rn_AnswerMoreLink {
        display: block;
        padding-right: 1em;
        text-align: right; }
        .rn_RecentlyAskedQuestions .rn_QuestionInfo .rn_QuestionSubject .rn_AnswerMoreLink a {
          color: #2e568b; }
  .rn_RecentlyAskedQuestions .rn_ContentLocked:after {
    font-family: 'FontAwesome';
    margin-left: 6px;
    content: "\f023"; }
