.rn_SupportedLanguages {
  max-width: 82%; }
  .rn_SupportedLanguages a:link {
    line-height: 30px;
    color: #FFF; }
  .rn_SupportedLanguages fieldset {
    display: inline;
    padding: 0.5em;
    background: #40526b;
    border: 0; }
    .rn_SupportedLanguages fieldset label {
      padding-left: 5px;
      color: #FFF;
      font-weight: normal;
      float: right;
      line-height: 2.35em; }
