.rn_PublicProfile {
    margin-top: .5em;

    h1 {
        border-bottom: 1px solid $light-gray;
        margin-bottom: 1em;
        line-height: 2em;
    }

    .rn_ModerationToolbar {
        @include span-columns(12);
    }

    .rn_UserInfo {
        @include span-columns(3);

        .rn_AvatarDisplay {
            margin-bottom: 1em;
        }

        .rn_DefaultProfilePicture {
            cursor: default;
            font-size: 7em;
            height: 186px;
            width: 186px;
        }

        @include media($rn-medium) {
            @include span-columns(2);

            .rn_DefaultProfilePicture {
                height: 100px;
                width: 100px;
                font-size: 3em;
            }
        }

        @include media($rn-small) {
            @include span-columns(12);

            .rn_DefaultProfilePicture {
                height: 75px;
                width: 75px;
                font-size: 3em;
            }

            .rn_AvatarDisplay {
                @include span-columns(4);
            }

            .rn_UserDetails {
                @include span-columns(8);
            }
        }
    }

    legend {
        display: block;
    }

    .rn_ProfileSearch {
        .rn_SearchField {
            @include span-columns(9);

            margin-bottom: 0;
        }
    }

    .temp-placeholder {
        @include row;

        ul li {
            margin-left: 20px;
        }

        .rn_SearchQuestionComment {
            @include span-columns(15);
        }
    }
}

.rn_UserInfo {
    @include span-columns(12);
    .rn_AvatarAlignment {
        float: left;
        margin-right: 10px;
        text-align: center;

        a {
            color: #FFF;
        }
    }
}
