<li id="<%= id %>">
    <rn:block id="attachmentItemTop"/>
    <% if (displayThumbnail) { %>
        <rn:block id="preThumbnail"/>
        <span class="rn_Thumbnail"></span>
        <rn:block id="postThumbnail"/>
    <% } %>
    <rn:block id="preFileName"/>
    <%= name %>
    <rn:block id="postFileName"/>
    <rn:block id="preRemoveLink"/>
    <a href='javascript:void(0)' class='rn_fileRemove'><%= attrs.label_remove %><span class='rn_ScreenReaderOnly'><%= name %></span></a>
    <rn:block id="postRemoveLink"/>
    <rn:block id="attachmentItemBottom"/>
</li>
