<div data-field="<%= fieldName %>">
    <rn:block id="preError"/>
    <b><a href='javascript:void(0);' onclick='document.getElementById("<%= id %>").focus(); return false;'><%= errorLink %></a></b>
    <rn:block id="postError"/>
</div>
