.rn_ChatServerConnect{
    background:#EFEFF4 url(../images/layout/whitePixel.png) repeat-x scroll 0 0;
    border:solid #BBBBBB;
    border-width:1px 0;
    line-height:1.25em;
    margin:0 0 1em;
    padding:5px;
}
