.rn_FileAttachmentUpload label {
    display:block;
    font-weight:bold;
    margin-bottom:2px;
}
.rn_FileAttachmentUpload ul {
    margin:10px 20px;
}
.rn_FileAttachmentUpload li {
    list-style-type:disc;
    margin:6px 0;
}