.rn_Paginator {
    margin-top:10px;
}
.rn_Paginator a {
    border:1px solid #DDD;
    text-decoration: none;
}
.rn_Paginator .rn_CurrentPage {
    color:#222;
    font-weight:bold;
}
.rn_Paginator a:hover,
.rn_Paginator a:focus {
    background:#EBEFF5;
}
.rn_Paginator .rn_ForwardImageLink,
.rn_Paginator .rn_ForwardImageLink:hover,
.rn_Paginator .rn_ForwardImageLink:focus,
.rn_Paginator .rn_BackImageLink:hover,
.rn_Paginator .rn_BackImageLink:focus,
.rn_Paginator .rn_BackImageLink {
    border:none;
    background:none;
}
