.rn_PasswordInput {
    clear:both;
    margin-bottom:8px;
}
.rn_PasswordInput .rn_Label {
    display:block;
    font-weight:bold;
    margin-bottom:2px;
}
.rn_PasswordInput .rn_PasswordLength {
    color: #646464;
    display: block;
    font-weight: normal;
    margin-top: 4px;
}
.rn_PasswordInput .rn_Password {
    width:60%;
}
.rn_PasswordInput .rn_PasswordInputCurrent {
    margin-bottom: 10px;
}
.rn_PasswordInput .rn_PasswordInputValidate {
    margin-top: 10px;
}
.rn_PasswordInput .yui3-overlay {
    margin-left: 50px;
    background: #CCC;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(204, 204, 204, 0.28)), to(rgba(180, 184, 184, 0.46)));
    background: -webkit-linear-gradient(top, rgba(204, 204, 204, 0.28), rgba(180, 184, 184, 0.46));
    background: -moz-linear-gradient(top, rgba(204, 204, 204, 0.28), rgba(180, 184, 184, 0.46));
    background: -ms-linear-gradient(top, rgba(204, 204, 204, 0.28), rgba(180, 184, 184, 0.46));
    background: linear-gradient(top, rgba(204, 204, 204, 0.28), rgba(180, 184, 184, 0.46));
    border-radius: 6px;
    border: 2px solid #fff;
    box-shadow:0 0 7px rgba(0, 0, 0, .3);
    padding: 1em;
    max-width: 260px;
}

.rn_PasswordInput .rn_Intro {
    font-weight: bold;
    font-size: 1.3em;
    text-shadow: 0 1px 0 #fff;
}
.rn_PasswordInput .rn_Heading {
    margin-bottom: 10px;
}
.rn_PasswordInput .rn_Meter {
    border: 1px solid #999;
    height: 12px;
    padding: 0;
    width: 100px;
    float: left;
    position: relative;
    margin-right: 8px;
}
.rn_PasswordInput .rn_Meter div {
    border-top: 1px solid #FFF;
    height: 11px;
}
.rn_HighContrastMode .rn_PasswordInput .rn_Meter div {
    border-top: 12px solid #FFF;
    height: 0;
}
.rn_PasswordInput .rn_Strength {
    margin: 4px 0;
    overflow: hidden;
}
.rn_PasswordInput .rn_Meter .rn_NoValidations {
    background: #FF0000;
    width:25%;
}
.rn_PasswordInput .rn_Meter .rn_SomeValidations {
    background: #FFFF00;
    width: 75%;
}
.rn_PasswordInput .rn_Meter .rn_AllValidations {
    background: #008000;
}
.rn_PasswordInput ul {
    padding-left: 13px;
}
.rn_PasswordInput li {
    list-style-type: circle;
    padding-bottom: 3px;
}
.rn_PasswordInput .rn_Fail {
    color: #B10101;
    list-style-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAA6ElEQVR42pWRwUrDQBRFb/VH8gNV23/p/3RXaHCh4KIWoboo6q5dlboQFTEZKSRfNJ4LQ2jHbho4zJ133kwyE8UYT6ILI+k8l7nrFkykopTKa2mQN7tm5x7PNZbObqUpxBspMF5aGGcIdu5xryzupKsZ4h4BNblv5mSIdu45OMMDuy0Qj5SepCbhHOz+HdrQfPEstS+UXw15Sc3u6IIVEto1ZeMMxxdseO1WChDJjXGGsMk/6Z0DfSA+mTLWbxzYOKda+Kanu9ZKmtYICF97uzm7FnDV/rX+SMVOKn/Tj+PpmeSGdu7x/A+N9hV+nr/dEgAAAABJRU5ErkJggg==);
}
.rn_PasswordInput .rn_Pass {
    color: #015301;
    list-style-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAABQUlEQVQoz2P4//8/AymYgeoaVHIZ2EOrZaQZGhiYCGpg0GZgK5tnmdO8zv1QwWyTEAYGBiacio2NGVjzphlmdGz0ezn1YPT/xlWuN6Ma5R3Bkv7VQrKJPUqRoQ2iEmCTgYrTJ2hm1a1wft252f9/6waf/6XzrI9FNEiaMHgX8itlTtZZXDrf4lPmZK2ZHhkCCkmdShmlcy1e1S53/F+12P5/7jSjQ6ENEmZgw8JrJYuyJ+l+KZpt+j93qv6P5C7lI5mTdF4WzjT5nzfN6H9Kt/qRgAoRY7i/fMsF5aIaZeckdaj8TO1R+58Cxqr/k7tU/sc0yx32LeYzxQhWtwwGsYAK4akRNeK/Ihsl/0fUS/wPrhQ95FfEZYgzHmwTGUR9C3lm+pfyf/Mp4jnklsdqTDDiXJMYpDyy2Us9slhNcQU3AOCKTBgpozkYAAAAAElFTkSuQmCC);
}
