.rn_ProductCategoryDisplay .rn_DataLabel  {
     float:left;
     font-weight:bold;
}
.rn_ProductCategoryDisplay .rn_DataValue  {
     margin-left:180px;
}
.rn_ProductCategoryDisplay .rn_DataValue ul {
     clear:none; 
}
.rn_ProductCategoryDisplay .rn_DataValue.rn_LeftJustify {
     clear:left;
     margin-left:0;
     padding-bottom:.5em;
}
