.rn_SearchButton2 {
    display:inline;
    bottom: 0px;
}
.rn_SearchButton2 input {
    border:none;
    vertical-align:top;
}
.rn_SearchButton2 .rn_SubmitButton {
    background-color:#0E53A7;
    color:#FFF;
    cursor:pointer;
    font-weight:bold;
    /* Fix for IE 7 button text rendering bug */
    *height:30px;
    *line-height:21px;
}
